.header{
    height: 3.5em;
}
.header h1{
    font-size: 1.5em;
}
.header h2{
    font-size: 1.25em;
}
.logo{
    height: 3em;
}
.header img{
    height: 2.4em;
}

.widget{
    display: flex;
    flex-wrap: wrap;
}
#menu{
    display: flex;
    flex: 3;
    align-content: flex-start;
    margin-left: 5%;
    flex-wrap: wrap;
}
.tile{
    display: flex;
    background-color: var(--blanc-ou-noir);
    border-radius: 1em;
    padding: 3%;
    cursor: pointer;
    margin-bottom: 1.5em;
    margin-right: 1.5em;
    height: 3.5em;
    width: 12em;
    align-items: center;
    transition: ease 200ms;
    color: hsl(var(--paragraph-color));
    text-decoration: none;
}
.tile:hover{
    background-color: hsl(var(--paragraph-color));
    color: hsl(var(--main-color));
}
.tile p{
    display: flex;
    font-size: 1.5em;
    margin: 0;
    margin-left: 5%;
    flex: 1;
    line-height: 1;
    color: inherit;
}
.tile i{
    font-size: 1.5em;
}
#welcome{
    background-color: transparent;
    padding: 0.3em;
    margin-right: 0;
    text-align: left;
    width: 100%;
    height: fit-content;
}
#welcome h1{
    margin: 0;
}

#ressources{
    width: 100%;
    max-width: 20em;
}
#guiness{
    width: 100%;
    max-width: 15em;
}


#profile-box{
    display: flex;
    flex: 1;
    max-width: 15em;
    padding: 2%;
    border-radius: 1em;
    background-color: var(--blanc-ou-noir);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#profile-box img{
    height: 8em;
    clip-path:ellipse(50% 50%);
}
#profile-box h1{
    margin-bottom: 0;
}
#profile-box h2{
    margin-top: 0;
}

/* Styles admins */

#admin{
    width: 100%;
}
table{
    background-color: var(--blanc-ou-noir);
    border-radius: 1em;
    padding: 1%;
    width: 100%;
}

td{
    overflow-x: auto;
    color: hsl(var(--paragraph-color));
    border-bottom: 0.1em solid hsl(var(--third-color));
}
#titre td{
    font-size: 1.2em;
    color: hsl(var(--accent-color));
}

#mod, #del, #promo{
    padding: 0;
    overflow: hidden;
    width: 2.5em;
    text-align: center;
}
#mod i, #del i{
    color: hsl(var(--paragraph-color));
    cursor: pointer;
    padding: 12%;
    clip-path: ellipse(50% 50%);
    transition: ease 200ms;
}
#mod i:hover, #del i:hover{
    background-color: hsl(var(--main-color));
}

#name, #surname, #password{
    max-width: 8em;
}
#username{
    max-width: 10em;
}

tr input, #select-rang{
    font: inherit;
    color: inherit;
    background-color: transparent;
    width: 90%;
    height: 90%;
    margin: 2%;
    margin-left: 0;
    padding: 2%;
    padding-left: 4%;
    border: none;
    outline: none;
    border-radius: 0.5em;
}
tr input:focus-visible{
    background-color: hsl(var(--main-color));
}

#select-rang:not(:-internal-list-box){
    border-radius: 0.5em;
}

@media only screen and (max-width: 600px) {
    .widget{
        flex-direction: column;
    }
    #profile-box{
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        margin-bottom: 1.5em;
        margin-top: 3%;
    }
    #welcome{
        display: none;
        justify-content: center;
        margin-top: 1em;
        margin-right: 1.5em;
    }
    #menu{
        margin-top: 2em;
        margin: 0;
    }
    .tile{
        width: 100%;
        margin-right: 0;
    }
    #guiness, #ressources{
        max-width: 100%;
    }
    td{
        min-width: 5em;
    }
    table{
        display: flex;
        box-sizing: border-box;
        overflow-x: auto;
    }
    #username, #titre, #email{
        min-width: 10em;
    }
  }