
.content{
    padding-bottom: 0;
}

.inline-content{
    display: flex;
}

.ranking{
    display: flex;
    border-radius: 1em;
    background-color: var(--blanc-ou-noir);
    flex-direction: column;
    padding: 2%;
    width: 20em;
    margin-right: 4%;
    margin-bottom: 4%;
    height: fit-content;
    height: -moz-fit-content;
}

.ranking_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ranking_title{
    background-color: hsl(var(--second-accent-color));
    border-radius: 1em;
    padding: 3%;
    width: 100%;
    margin-right: 5%;    
    border-radius: 1em;
    padding-right: 10%;
    padding-left: 3%;
    width: 100%;
    margin-right: 5%;
}

.ranking_title h1{
    color: white;
    font-size: 1.2em;
    margin: 0;;
    
}

.ranking_top a{
    background-color: hsl(var(--paragraph-color));
    color: hsl(var(--main-color));
    border-radius: 1em;
    padding: 2%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    width: 25%;
    font-size: 0.8em;
    transition: ease 200ms
}

.ranking_top a:hover{
    background-color: hsl(var(--accent-color));
    color: hsl(var(white));
}

.ranking_top i{
    font-size: 3em;
}
.user_ranking{
    display: flex;
    align-items: center;
    padding: 3%;
    padding-top: 5%;
    border-bottom: 0.2em solid hsl(var(--paragraph-color));
    padding-bottom: 0;
}
.number {
    display: flex;
    margin-right: 3%;
    border-right: 0.3em solid hsl(var(--accent-color));
    height: 4em;
    width: 2.3em;
    display: flex;
    align-items: center;
    overflow-x: auto;
    justify-content: center;
}
.number h1{
    color: hsl(var(--accent-color));
    margin: 0;
}

.user{
    overflow-x: auto;
}
.user h1{
    margin: 0;
    padding-top: 2%;
    font-size: 1.7em;
}

.user h2{
    margin: 0;
    font-size: 1em;
    margin-top: -0.4em;
    color: hsl(var(--second-accent-color));
}

.score{
    margin-left: auto;
    padding-left: 3%;
}

.score h1{
    font-size: 1.7em;
}

@media only screen and (max-width: 600px) {
    .inline-content{
        flex-direction: column;
    }
    .ranking{
        padding: 4%;
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 7%;
    }
}