
#title{
    color: hsl(var(--accent-color));
}
.content{
    padding-bottom: 0;
}

.inline-content{
    display: flex;
}

input:focus-visible{
    outline: none;
}
.bloc_promo{
    display: flex;
    flex-direction: row;
}
.docs_affect{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.docs{
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titre_affect{
    margin-top: 0;
    width: 100%;
    text-align: center;
    font-size: 1.8em;
}
.img_affect{
    width: 100%;
    border-radius: 1em;
}

.outer_box{
    display: flex;
    border-radius: 1.5em;
    background-color: var(--theme-color);
    flex-direction: column;
    padding: 2%;
    width: 20em;
    margin-right: 3%;
    margin-bottom: 4%;
    height: fit-content;
    height: -moz-fit-content;
    box-sizing: border-box;
}

#classement.outer_box{
    width: 100%;
    max-width: 40em;
}

#anciens.outer_box{
    width: 100%;
    max-width: 40em;
}

#new{
    background-color: hsl(var(--main-color));
}

.ranking_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    color: var(--theme-color);
}
.ranking_title{
    display: flex;
    justify-content: space-between;
    background-color: hsl(var(--second-accent-color));
    border-radius: 1em;
    padding: 3%;
    margin-right: 5%;    
    border-radius: 1em;
    padding-right: 3%;
    padding-left: 3%;
    width: 100%;
    margin-right: 5%;
    box-sizing: border-box;
}
.ranking_title h1{
    display: flex;
    background-color: hsl(var(--second-accent-color));
    border-radius: 1em;
    padding: 3%;padding-right: 10%;
    padding-left: 3%;
    margin-right: 5%;
    box-sizing: border-box;
    color: white;
    font-size: 1.7em;
    margin: 0;
}
.ranking_title a{
    margin-left: 1em;
    background-color: hsl(var(--paragraph-color));
    color: hsl(var(--main-color));
    border-radius: 1em;
    padding: 2%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    width: 18%;
    transition: ease 200ms;
    border: none;
    cursor: pointer;
}
.ranking_title a:hover {
    background-color: var(--theme-color);
    color: hsl(var(--paragraph-color));
}

.ranking_title i {
    font-size: 2em;
}


.old_ranking{
    background-color: hsl(var(--second-accent-color));
    border-radius: 1em;
    padding: 3%;
    margin-right: 5%;    
    border-radius: 1em;
    padding-right: 10%;
    padding-left: 3%;
    width: 100%;
    margin-right: 5%;
    box-sizing: border-box;
}


.ranking_top button{
    background-color: hsl(var(--paragraph-color));
    color: hsl(var(--main-color));
    border-radius: 1em;
    padding: 2%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    width: 25%;
    font-size: 0.8em;
    transition: ease 200ms;
    border: none;
    cursor: pointer;
}

.ranking_top button:hover{
    background-color: hsl(var(--accent-color));
    color: hsl(var(white));
}

.ranking_top i{
    font-size: 3em;
}
.inner_box{
    display: flex;
    align-items: center;
    padding: 3%;
    padding-top: 5%;
    border-bottom: 0.2em solid hsl(var(--paragraph-color));
    padding-bottom: 0;
}


.number {
    display: flex;
    margin-right: 3%;
    border-right: 0.3em solid hsl(var(--accent-color));
    height: 4em;
    width: 2.3em;
    align-items: center;
    overflow-x: auto;
    justify-content: center;
}

#new .number{
    width: 5em;
}
.number h1{
    color: hsl(var(--accent-color));
    margin: 0;
}
.number input{
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    text-align: center;
    font: inherit;
    font-size: 1.8em;
    border: none;
    border-top-left-radius: 0.3em;
    color: hsl(var(--accent-color));
}
.user{
    overflow-x: auto;
}
.user h1{
    margin: 0;
    padding-top: 2%;
    font-size: 1.7em;
    line-height: 1;
    padding-bottom: 5%;
}

.user h2{
    margin: 0;
    font-size: 1em;
    margin-top: -0.4em;
    color: hsl(var(--second-accent-color));
}
#rank {
    color: hsl(var(--accent-color));
    padding: 2%;
    padding-bottom: 8%;
}

.user input{
    width: 100%;
    box-sizing: border-box;
    text-align: start;
    font: inherit;
    overflow-x: auto;
    border: none;
    padding: 0;
    padding-left: 3%;
}

.user #name{
    font-size: 1.5em;
    border-top-right-radius: 0.3em;
    border-top-left-radius: 0.3em;
    margin-bottom: 3%;

}
.user #promo{
    font-size: 1em;
    color: hsl(var(--second-accent-color));
}

.right-box{
    margin-left: auto;
    padding-left: 3%;
    height: 4em;
    display: flex;
    align-items: center;
}

.right-box h1{
    font-size: 1.7em;
    box-sizing: border-box;
    line-height: 1;
    text-align: end;
    margin: 0;
    color: hsl(var(--second-accent-color));
}

.right-box input{
    width: 2em;
    box-sizing: border-box;
    height: 100%;
    text-align: center;
    font: inherit;
    font-size: 1.8em;
    border: none;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    overflow-x: auto;
}

a#email{
    text-decoration: none;
}

a#email:hover{
    text-decoration: underline solid 0.15rem;
    text-underline-offset: 0.2em;
    transition: 100ms ease;
    color: hsl(var(--paragraph-color));
}

@media only screen and (max-width: 600px) {
    .inline-content{
        flex-direction: column;
    }
    .ranking{
        padding: 4%;
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 7%;
    }
    #anciens.outer_box{
        width: 100%;
        box-sizing: border-box;
    }
    .inner_box {
        flex-direction: column;
        align-items: flex-start;
    }
    .outer_box {
        padding: 5%
    }
    #rank {
        padding-left: 0;
    }
    .docs_affect {
        display: none;
    }
}