
#title{
    color: var(--accent-color);
}

.sites{
    display: flex;
    background: var(--blanc-ou-noir);
    box-shadow: 0 8px 32px 0 var(--third-color);
    border: 0.1em solid var(--third-color);
    backdrop-filter: blur(1em);
    border-radius: 2.5em;
    padding: 2% ;
    margin-bottom: 3%;
}

.site-favicon{
    border-radius: 2em;
    height: 12em;
    width: 12em
}

.description{
    padding-left: 3%;
}

.site-title{
    display: flex;
    color: var(--accent-color);
    text-decoration: none;
    
}
.site-title h1{
    margin: 0;
    color: var(--accent-color);
}
.site-title h1:hover{
    text-decoration: underline solid 0.15rem;
    text-underline-offset: 0.2em;
    transition: 100ms ease;
}
.description p{
    margin: 0;
    font-weight: 400;
    margin-top: 1%;
    margin-bottom: 1%;    
    height: 4.5em;
    overflow-y: auto;
}
a{
    text-decoration: none;
}
a h2{
    font-size: 1.1em;
    font-weight: 400;
    margin-top: 3%;
    margin: 0;
    color: var(--accent-color);
    text-decoration: underline solid 0.15rem;
    text-underline-offset: 0.2em;
    transition: 100ms ease;
}
a h2:hover{
    color: var(--second-accent-color);
}