body{
    height: 80%;
}
.header{
    height: 3.5em;
}
.header h1{
    font-size: 1.5em;
}
.logo{
    height: 3em;
}
.content{
    justify-content: center;
    align-items: center;
}
.login-box{
    background: rgba( 255, 255, 255, 0.4 );
    box-shadow: 0 8px 32px 0 var(--gris-clair);
    backdrop-filter: blur(1em);
    -webkit-backdrop-filter: blur(1em);
    border-radius: 1em;
    border: 0.1em solid rgba( 255, 255, 255, 0.28 );
    height: 17em;
    width: 22em;
    padding: 2.5em;
    padding-top : 1.5em;
    padding-bottom: 1em;
}
.login-box h1{
    margin: 0;
    color: var(--couleur-accentuation);
}
.inputs{
    display: flex;
    flex-direction: column;
    width: 18em;
}
.inputs input{
    display: flex;
    padding-top: 0.4em;
    margin-top: 1em;
    height: 2.3em;
    background-color: transparent;
    border: none;
    border-bottom: solid var(--bleu-cpp);
    border-radius: 0.1em;
    font-family: 'Poppins';
    width: 100%;
}
.inputs input:focus-visible{
    outline: none;
    border-bottom: solid var(--couleur-accentuation);
}
.connect{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;
}
.btn{
    display: flex;
    padding-top: 0;
    padding: 0.4em;
    border-radius: 0.5em;
    border: none;
    background-color: var(--bleu-cpp);
    color: var(--blanco);
    width: 10em;
    justify-content: center;
    font-family: 'Poppins';
    font-size: 1.1em;
    font-weight: 800;
    cursor: pointer;
}
.btn:hover{
    background-color: var(--couleur-accentuation);
    transition: 100ms ease;
}
.inscription{
    display: flex;
    justify-content: center;
    color: var(--gris-profond);
    font-size: 0.65em;
    text-decoration: none;
    font-weight: 400;
    width: fit-content;
    width: -moz-fit-content;
    margin-bottom: 0;
    margin-bottom: 0;
    font-style: italic;
}
.inscription h2{
    margin: 0;
}
.inscription:hover{
    text-decoration: underline solid 0.2em;
    text-underline-offset: 0.2em;
    color: var(--bleu-cpp);
    transition: 100ms ease;
}
.options{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    color: var(--bleu-cpp);
    font-size: 0.8em;
    font-weight: 300;
    margin-top: 1em;
    flex-direction: column;
}
.checkbox{
    display: flex;
    margin-top: 0.8em;
    font-weight: 700;
    font-style: normal;
}
.checkbox input{
    margin-left: 0;
}
.bouton h2{
    margin-top: 0;
}