.semester-gepi {
  display: flex;
  background: var(--theme-color);
  box-shadow: 0 8px 32px 0 hsla(var(--third-color), 0.2);
  border: 0.1em solid hsl(var(--third-color));
  backdrop-filter: blur(1em);
  border-radius: 1.5em;
  padding: 1%;
  margin-bottom: 3%;
  justify-content: space-between;
  align-items: center;
}

.semester-div h1 {
  display: flex;
  font-size: 1.2em;
  margin: 0;
  color: hsl(var(--main-color));
}

.semester-div {
  display: flex;
  overflow: hidden;
  justify-content: flex-start;
  flex: 1;
}

.semester:hover {
  background-color: hsl(var(--accent-color)) !important;
  box-shadow: var(--couleur-accentuation);
  transition: ease 200ms;
}

.semester {
  display: flex;
  flex: 1;
  background: hsl(var(--second-accent-color));
  color: white;
  border-radius: 0.6em;
  min-width: 9em;
  padding: 1%;
  align-items: center;
  justify-content: center;
  margin: 0.2em;
  border: none;
  font-family: "Poppins";
  font-size: 1.5em;
  font-weight: 600;
  cursor: pointer;
  transition: ease 200ms;
  font-size: 1.2em;
}

.semester:focus {
  outline: 0;
}

.gepi {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 1em;
}

.gepi h1 {
  font-size: 1em;
  color: black;
}

.gepi i {
  margin-left: 0.5em;
}

.popup {
  display: block;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(var(--second-color), 0.3);
  backdrop-filter: blur(0.1em);
}

.gepi-form {
  display: flex;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: fit-content;
  height: -moz-fit-content;
  background: var(--theme-color);
  border-radius: 1.5em;
  padding: 2%;
  max-width: 100%;
  width: 30em;
  align-content: center;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.gepi-form input {
  width: 10em;
  margin-right: 3%;
}

.gepi-form div {
  width: 100%;
}

.gepi-form h1 {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  color: hsl(var(--accent-color));
}

.gepi-form h2 {
  width: 100%;
  font-size: 1em;
  color: hsl(var(--paragraph-color));
}

.gepi-form input {
  display: flex;
  padding-top: 0.2em;
  margin-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 0.5em;
  height: 2.3em;
  min-width: 15em;
  background-color: transparent;
  border: solid 0.14em hsl(var(--third-color));
  border-radius: 0.3em;
  font-family: "Poppins";
  color: hsl(var(--second-color));
}

.gepi-form input:focus-visible {
  outline: none;
  border-bottom: solid hsl(var(--accent-color));
}

.buttons {
  display: flex;
  margin-top: 3%;
}

.buttons #download {
  display: flex;
  padding-top: 0;
  padding: 0.4em;
  margin-top: 3%;
  border-radius: 0.5em;
  border: none;
  background-color: hsl(var(--second-accent-color));
  color: white;
  width: 13em;
  justify-content: center;
  font-family: "Poppins";
  font-size: 1.1em;
  font-weight: 800;
  cursor: pointer;
  margin-right: 4%;
}

.buttons #cancel {
  display: flex;
  padding-top: 0;
  padding: 0.4em;
  margin-top: 3%;
  border: none;
  color: hsl(var(--accent-color));
  background-color: transparent;
  justify-content: center;
  font-family: "Poppins";
  font-size: 1.1em;
  font-weight: 400;
  cursor: pointer;
  margin-right: 4%;
  align-items: center;
}

.buttons #cancel:hover {
  text-decoration: underline 0.1em solid;
}

.notes-container {
  width: 29em;
  height: fit-content;
}

.notes {
  display: flex;
  background: var(--theme-color);
  box-shadow: 0 8px 32px 0 hsla(var(--third-color), 0.2);
  border: 0.1em solid hsl(var(--third-color));
  backdrop-filter: blur(1em);
  border-radius: 1.5em;
  flex-direction: column;
  max-width: 32em;
  padding: 4%;
  height: 100%;
}

.top {
  display: flex;
  justify-content: space-between;
}

.top button {
  margin-left: 1em;
  background-color: hsl(var(--paragraph-color));
  color: hsl(var(--main-color));
  border-radius: 1em;
  padding: 2%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-decoration: none;
  width: 18%;
  font-size: 0.8em;
  transition: ease 200ms;
  border: none;
  cursor: pointer;
}

.top button:hover {
  background-color: hsl(var(--accent-color));
  color: hsl(var(white));
}

.titre-notes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 4%;
  padding-left: 4%;
  border-radius: 0.5em;
  height: 3em;
  width: 100%;
  background-color: hsl(var(--second-accent-color));
  color: var(--theme-color);
  cursor: pointer;
}

.titre-notes h1 {
  margin: 0;
  color: inherit;
}

.moyenne {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: solid 0.3em hsl(var(--second-accent-color));
  align-items: center;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  margin-bottom: 0.8em;
}

.notes-coef {
  display: flex;
  justify-content: space-between;
  width: 40%;
  align-items: center;
  margin-left: auto;
}

.coef {
  grid-column: 7/9;
  text-align: right;
  font-size: 1em;
  font-weight: 600;
  margin: 0;
}

.moyenne_name {
  font-size: 1.5em;
  color: hsl(var(--second-accent-color));
  margin-right: 5%;
  /* max-width: 65%; */
}

.cros_div {
  grid-column: 9;
}

#generale {
  border-bottom: solid 0.3em hsl(var(--accent-color));
}

#generale h1 {
  color: hsl(var(--accent-color));
}

.note-mg {
  background-color: hsl(var(--second-accent-color));
  height: 2.5em;
  border-radius: 0.5em;
  display: flex;
  align-items: center;
  grid-column: 10;
}

.note-mg h1 {
  font-size: 1.5em;
  color: white;
  margin-left: 0.4em;
  margin-right: 0.4em;
  margin-top: 0;
  margin-bottom: 0;
}

#generale .note-mg {
  background-color: transparent;
}

.note_container {
  display: flex;
  font-size: 0.7em;
  align-items: center;
  justify-content: space-between;
}

.nom_note {
  max-width: 58%;
  margin-right: 5%;
}

.note {
  color: hsl(var(--paragraph-color));
  margin-left: 0.4em;
  margin-right: 0.4em;
  text-align: right;
  grid-column: 10;
  width: 2em;
}

.note_container .coef {
  height: 100%;
  font-size: 1.3em;
  background-color: hsl(var(--main-color));
  padding: 0.3em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 5em;
}

.div-graph {
  display: flex;
  background: var(--theme-color);
  box-shadow: 0 8px 32px 0 hsla(var(--third-color), 0.2);
  border: 0.1em solid hsl(var(--third-color));
  backdrop-filter: blur(1em);
  border-radius: 1.5em;
  padding: 1.5%;
  margin: 3%;
  margin-left: 0;
  justify-content: space-between;
  align-items: center;
  margin-left: 3%;
  margin-right: 0;
}

.notes_et_graphes {
  display: flex;
}

.graphe_moyennes {
  flex: 1;
  flex-direction: row;
}

.ajouter-matière {
  font-size: 1.5em;
  font-family: "Poppins";
  margin-top: 0.5em;
  border-radius: 0.3em;
  background-color: hsl(var(--paragraph-color));
  font-weight: 700;
  height: 2em;
  width: 100%;
  color: var(--theme-color);
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.2em;
  cursor: pointer;
  transition: ease 200ms;
}

.ajouter-matière:hover {
  background-color: hsl(var(--theme-color));
  color: hsl(var(--paragraph-color));
  transition: ease 200ms;
}

@media only screen and (max-width: 1000px) {
  .graphe_moyennes {
    display: none;
  }

  .nom_note {
    font-size: 2em;
    max-width: 50%;
  }

  .note {
    font-size: 2em;
    margin-top: 0.6em;
  }

  .notes {
    padding: 4%;
    width: 100%;
  }

  .semester-div {
    flex-wrap: wrap;
    justify-content: center;
  }

  .semester-div a {
    margin-top: 0.35em;
    margin-bottom: 0.35em;
    flex: 1;
  }
}

@media only screen and (max-width: 600px) {
  .gepi-form {
    top: auto;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 3%;
    padding-bottom: 5%;
    width: 100%;
    box-sizing: border-box;
  }

  .nom_note {
    font-size: 1.5em;
  }

  .coef {
    font-size: 1.5em;
  }

  .notes-coef {
    width: 45%;
  }

  .moyenne .notes-coef {
    width: 50%;
  }

  .note {
    font-size: 1.5em;
    margin-top: 0.6em;
  }

  .notes {
    border-radius: 1em;
    box-sizing: border-box;
  }

  .notes-container {
    width: 100%;
  }

  .semester-gepi {
    border-radius: 1em;
    padding: 0;
    display: none;
  }

  .semester-div::-webkit-scrollbar {
    display: none;
  }

  .gepi h1 {
    display: none;
  }

  .gepi i {
    margin-left: 0;
  }

  .gepi {
    margin-right: 1em;
  }

  .semester-div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow-x: scroll;
    border-radius: 1em;
    justify-content: flex-start;
    font-size: 0.7em;
  }

  .semester-div a {
    margin-top: 0.35em;
    margin-bottom: 0.35em;
    flex: 1;
  }

  .moyenne h1 {
    font-size: 1.2em;
  }

  .note-mg h1 {
    margin-bottom: 0;
  }

  .cross {
    font-size: 1.5em;
  }

  .titre-notes {
    height: 2.5em;
  }

  .titre-notes h1 {
    font-size: 1.7em;
  }

  .box_note {
    width: 5em;
  }

  .ajouter-matière {
    font-size: 1.2em;
  }

  .mobile-text {
    display: flex !important;
    font-style: italic;
    font-weight: 400;
    margin-top: 0;
    font-size: 1em;
    justify-content: center;
  }
}
