.semester-gepi{
    display: flex;
    background: var(--blanc-ou-noir);
    box-shadow: 0 8px 32px 0 hsl(var(--third-color));
    border: 0.1em solid hsl(var(--third-color));
    backdrop-filter: blur(1em);
    border-radius: 1.5em;
    padding: 1.5%;
    margin-bottom: 3%;
    justify-content: space-between;
    align-items: center;
}
.semester-div h1{
    display: flex;
    font-size: 1.2em;
    margin: 0;
    color: hsl(var(--main-color));
}
.semester-div {
    display: flex;
    overflow-x: auto;
    flex: 1;
}
.semester-div a{
    display: flex;
    align-content: space-around;
    margin-right: 4%;
    background: hsl(var(--second-accent-color));
    border-radius: 0.6em;
    min-width: 9em;
    padding: 1%;
    text-decoration: none;
}
.semester:hover {
    background-color: hsl(var(--accent-color));
    transition: 100ms ease;
    box-shadow: var(--couleur-accentuation);
}
.semester div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gepi {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 1em;
}
.gepi h1{
    font-size: 1em;
    color: black;
}
.gepi i{
    margin-left: 0.5em;
}

.popup{
    display: block;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(var(--second-color), 0.3);
    backdrop-filter: blur(0.1em);
}

.gepi-form{
    display: flex;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: fit-content;
    height: -moz-fit-content;
    background: var(--blanc-ou-noir);
    border-radius: 1.5em;
    padding: 2%;
    max-width: 100%;
    width: 30em;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.gepi-form input{
    width: 10em;
    margin-right: 3%;
}
.gepi-form div{
    width: 100%;
}
.gepi-form h1{
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    color: hsl(var(--accent-color));
}
.gepi-form h2{
    width: 100%;
    font-size: 1em;
    color: hsl(var(--paragraph-color));
}

.gepi-form input{
    display: flex;
    padding-top: 0.2em;
    margin-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.5em;
    height: 2.3em;
    min-width: 15em;
    background-color: transparent;
    border: solid 0.14em hsl(var(--third-color));
    border-radius: 0.3em;
    font-family: 'Poppins';
    color: hsl(var(--second-color));
}
.gepi-form input:focus-visible{
    outline: none;
    border-bottom: solid hsl(var(--accent-color));
}
.buttons{
    display: flex;
    margin-top: 3%;
}
.buttons #download{
    display: flex;
    padding-top: 0;
    padding: 0.4em;
    margin-top: 3%;
    border-radius: 0.5em;
    border: none;
    background-color: hsl(var(--second-accent-color));
    color: white;
    width: 13em;
    justify-content: center;
    font-family: 'Poppins';
    font-size: 1.1em;
    font-weight: 800;
    cursor: pointer;
    margin-right: 4%;
}
.buttons #cancel{
    display: flex;
    padding-top: 0;
    padding: 0.4em;
    margin-top: 3%;
    border: none;
    color: hsl(var(--accent-color));
    background-color: transparent;
    justify-content: center;
    font-family: 'Poppins';
    font-size: 1.1em;
    font-weight: 400;
    cursor: pointer;
    margin-right: 4%;
    align-items: center;
}
.buttons #cancel:hover{
    text-decoration: underline 0.1em solid;
}
.notes{
    display: flex;
    background: var(--blanc-ou-noir);
    box-shadow: 0 8px 32px 0 hsl(var(--third-color));
    border: 0.1em solid hsl(var(--third-color));
    backdrop-filter: blur(1em);
    border-radius: 1.5em;
    flex-direction: column;
    max-width: 32em;
    padding: 2%;
}
.titre-notes{
    background-color: hsl(var(--second-accent-color));
    height: 3em;
    border-radius: 0.5em;
}
.titre-notes h1{
    margin-top: 0;
    margin-left: 0.5em;
    color: var(--blanc-ou-noir);
}
.moyenne{
    display: flex;
    justify-content: space-between;
    flex: 1;
    border-bottom: solid 0.3em hsl(var(--second-accent-color));
}
.moyenne h1{
    font-size: 1.5em;
    color: hsl(var(--second-accent-color));
}

#generale{
    border-bottom: solid 0.3em hsl(var(--accent-color));
}
#generale h1{
    color: hsl(var(--accent-color));
}

.note-mg{
    background-color: hsl(var(--second-accent-color));
    height: 2.5em;
    margin-top: 0.7em;
    border-radius: 0.5em;
}
.note-mg h1{
    font-size: 1.5em;
    color: white;
    margin-top: 0.1em;
    margin-left: 0.4em;
    margin-right: 0.4em;
}
#generale .note-mg{
    background-color: transparent;
}
.note_container{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 10px;
    grid-auto-rows: min-content;
    font-size: 0.7em;
}
.nom_note{
    grid-column: 1 / 8;
}
.coef{
    grid-column: 8 / 10;  
    justify-items: end;
    min-width: 4.5em;
}
.box_note{
    grid-column: 10;   
    justify-items: center; 
    background-color: var(--second-color);
    height: 3em;
    border-radius: 0.5em;
    width: 7em;
}
.note{
    color: hsl(var(--paragraph-color));
    margin-left: 0.4em;
    margin-right: 0.4em;
    text-align: center;
}

.div-graph{
    display: flex;
    background: var(--blanc-ou-noir);
    box-shadow: 0 8px 32px 0 hsl(var(--third-color));
    border: 0.1em solid hsl(var(--third-color));
    backdrop-filter: blur(1em);
    border-radius: 1.5em;
    padding: 1.5%;
    margin: 3%;
    margin-left: 0;
    justify-content: space-between;
    align-items: center;
    margin-left: 3%;
}

.notes_et_graphes{
    display: flex;
}
.graphe_moyennes{
    flex: 1;
    flex-direction: row;
}
@media only screen and (max-width: 1200px){
    .graphe_moyennes{
        display: none;
    }
    .nom_note {
        font-size: 2em; 
    }
    .coef {
        font-size: 2em;
    }
    .note {
        font-size: 2em;
        margin-top: 0.6em;
    }
    .notes {
        padding: 4%;
        max-width: 100%;
    }
    .semester-div {
        margin-left: 1em;
        flex-wrap: wrap;
        justify-content: center;
    }
    .semester-div a {
        margin-top: 0.35em;
        margin-bottom: 0.35em;
        flex: 1;
    }
}
@media only screen and (max-width: 600px) {
    .gepi-form{
        top: auto;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        padding: 3%;
        padding-bottom: 5%;
        width: 100%;
        box-sizing: border-box;
    }
    .nom_note {
        font-size: 1.3em;
    }
    .coef {
        font-size: 1.3em;
    }
    .note {
        font-size: 1.3em;
        margin-top: 0.6em;
    }
    .notes {
        padding: 4%;
        max-width: 100%;
        border-radius: 1em;
    }
    .semester-gepi {
        border-radius: 1em;
        height: 9em;
    }
    .gepi h1 {
        display: none;
    }
    .gepi i {
        margin-left: 0;
    }
    .gepi {
        margin-right: 1em;
    }
    .semester-div {
        margin-left: 1em;
        flex-wrap: wrap;
        justify-content: center;
    }
    .semester-div a {
        margin-top: 0.35em;
        margin-bottom: 0.35em;
        flex: 1;
    }
}
