/* Connection à gepi (* duplicat avec login_styles.css * ) ----------------------------- */
/* #title {
  text-align: center;
} */
.gepi-login {
  display: flex;
  flex-direction: column;
  background: var(--theme-color);
  box-shadow: 0 8px 32px 0 hsla(var(--third-color), 0.2);
  border: 0.1em solid hsl(var(--third-color));
  border-radius: 1em;
  backdrop-filter: blur(1em);
  width: 100%;
  max-width: 24em;
  padding: 1.5em;
  box-sizing: border-box;
}

.gepi-login h1{
  margin: 0;
  color: hsl(var(--accent-color));
}


.inputs{
  display: flex;
  flex-direction: column;
}
.inputs input{
  display: flex;
  padding-top: 0.2em;
  margin-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 0.5em;
  height: 2.3em;
  background-color: transparent;
  border: solid 0.14em hsl(var(--third-color));
  border-radius: 0.3em;
  font-family: 'Poppins';
  color: hsl(var(--second-color));
}
.inputs input:focus-visible{
  outline: none;
  border-bottom: solid hsl(var(--accent-color));
}
.inputs label{
  color: hsl(var(--paragraph-color));
  margin-top: 5%;
}

.gepi-btns {
  display: flex;
  margin-top: 10%;
  width: 100%;
}

.btn{
  display: flex;
  align-items: center;
  border: 0.15em solid var(--contrast-color);
  margin-right: 5%;
  width: 10em;
  color: var(--contrast-color);
  background-color: var(--theme-color);
  cursor: pointer;
  transition: 100ms ease;
}

.btn:hover {
  color: var(--theme-color);
  background-color: var(--contrast-color);
}

#cta {
  border: none;
  color: var(--theme-color);
  background-color: hsl(var(--second-accent-color));
}

#cta:hover{
  background-color: hsl(var(--accent-color));
}



/* Le reste --------------------------------------------------------------------------- */

.title-box {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin-bottom: 3%;
  flex-wrap: wrap;
}

.boutons_spé {
  display: flex;
  border-radius: 1.5em;
  padding: 1%;
  background: var(--theme-color);
  align-items: center;
  box-shadow: 0 8px 32px 0 hsla(var(--third-color), 0.2);
  border: 0.1em solid hsl(var(--third-color));
  justify-content: center;
}

.bt_spé {
  background: hsl(var(--second-accent-color));
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1em;
  color: white;
  border: none;
  width: fit-content;
  min-width: 13em;
  height: 3em;
  padding-inline: 4%;
  border-radius: 0.6em;
  margin: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}
.bt_spé:hover {
  background: hsl(var(--accent-color));
}

#bt_graphes {
  display: none;
}

.semester-gepi {
  display: flex;
  background: var(--theme-color);
  box-shadow: 0 8px 32px 0 hsla(var(--third-color), 0.2);
  border: 0.1em solid hsl(var(--third-color));
  backdrop-filter: blur(1em);
  border-radius: 1.5em;
  padding: 1%;
  margin-bottom: 3%;
  justify-content: space-between;
  align-items: center;
}

.semester-div h1 {
  display: flex;
  font-size: 1.2em;
  margin: 0;
  color: hsl(var(--main-color));
}

.semester-div {
  display: flex;
  overflow: hidden;
  justify-content: flex-start;
  flex: 1;
}

.semester:hover {
  background-color: hsl(var(--accent-color)) !important;
  box-shadow: var(--couleur-accentuation);
  transition: ease 200ms;
}

.semester {
  display: flex;
  flex: 1;
  background: hsl(var(--second-accent-color));
  color: white;
  border-radius: 0.6em;
  min-width: 9em;
  padding: 1%;
  align-items: center;
  justify-content: center;
  margin: 0.2em;
  border: none;
  font-family: "Poppins";
  font-size: 1.5em;
  font-weight: 600;
  cursor: pointer;
  transition: ease 200ms;
  font-size: 1.2em;
}

.semester:focus {
  outline: 0;
}

.notes-container {
  width: 30em;
  height: fit-content;
}

.notes {
  display: flex;
  background: var(--theme-color);
  box-shadow: 0 8px 32px 0 hsla(var(--third-color), 0.2);
  border: 0.1em solid hsl(var(--third-color));
  backdrop-filter: blur(1em);
  border-radius: 1.5em;
  flex-direction: column;
  max-width: 32em;
  padding: 4%;
  height: 100%;
}

.notes input {
  background-color: hsl(var(--main-color));
  width: 100%;
  margin-right: 0;
  padding: 1%;
  margin-top: 1%;
}

.top {
  display: flex;
  justify-content: space-between;
}

.top button {
  margin-left: 1em;
  background-color: hsl(var(--paragraph-color));
  color: hsl(var(--main-color));
  border-radius: 1em;
  padding: 2%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-decoration: none;
  width: 18%;
  font-size: 0.8em;
  transition: ease 200ms;
  border: none;
  cursor: pointer;
}

.top button:hover {
  background-color: hsl(var(--accent-color));
  color: hsl(var(white));
}

.titre-notes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 4%;
  padding-left: 4%;
  border-radius: 0.5em;
  box-sizing: border-box;
  height: 3em;
  width: 100%;
  background-color: hsl(var(--second-accent-color));
  color: white;
  cursor: pointer;
}

.titre-notes h1 {
  margin: 0;
  color: inherit;
}

.moyenne {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: solid 0.3em hsl(var(--second-accent-color));
  align-items: center;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  margin-bottom: 0.8em;
}

.notes-coef {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
}

.notes-coef div {
  margin-left: 1em;
}

.note_container #del {
  width: 3.5em;
}

.coef {
  display: flex;
  text-align: right;
  margin: 0;
}

.coef h1 {
  font-weight: 600;
  font-size: 1em;
  margin: 0;
}

.moyenne_name {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  color: hsl(var(--second-accent-color));
  margin-right: 5%;
  /* max-width: 65%; */
  background-color: transparent;
  width: fit-content;
  height: fit-content;
  border: none;
  outline: none;
  border-radius: 0.5em;
}

input.moyenne_name {
  margin-bottom: 2%;
}

#generale {
  border-bottom: solid 0.3em hsl(var(--accent-color));
}

#generale h1 {
  color: hsl(var(--accent-color));
}

.note-mg {
  background-color: hsl(var(--second-accent-color));
  height: 2.5em;
  border-radius: 0.5em;
  display: flex;
  align-items: center;
  grid-column: 10;
}

.note-mg h1 {
  font-size: 1.5em;
  color: white;
  margin-left: 0.4em;
  margin-right: 0.4em;
  margin-top: 0;
  margin-bottom: 0;
}

#generale .note-mg {
  background-color: transparent;
}

.note_container {
  display: flex;
  font-size: 0.7em;
  align-items: center;
  justify-content: space-between;
}

.nom_note {
  max-width: 58%;
  margin-right: 5%;
}

.note {
  color: hsl(var(--paragraph-color));
  margin-left: 1.4em;
  margin-right: 0.4em;
  text-align: right;
  grid-column: 10;
  width: 3em;
}

.note_container .coef {
  height: 100%;
  font-size: 1.3em;
  background-color: hsl(var(--main-color));
  padding: 0.3em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 5em;
  min-width: fit-content;
}

.div-graph {
  display: flex;
  background: var(--theme-color);
  box-shadow: 0 8px 32px 0 hsla(var(--third-color), 0.2);
  border: 0.1em solid hsl(var(--third-color));
  backdrop-filter: blur(1em);
  border-radius: 1.5em;
  padding: 1.5%;
  margin: 3%;
  margin-left: 0;
  justify-content: space-between;
  align-items: center;
  margin-left: 3%;
  margin-right: 0;
}

.notes_et_graphes {
  display: flex;
}

.graphe_moyennes {
  flex: 1;
  flex-direction: row;
}
#graph.notes {
  height: auto;
  margin-block: 3%;
}

.boutons-ajouter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-top: 0.5em;
}

.ajouter-matière {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
  font-size: 1.2em;
  font-weight: 700;
  height: 2.5em;
  width: 100%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  border: 0.15em solid var(--contrast-color);
  border-radius: 0.6em;
  color: var(--theme-color);
  background-color: hsl(var(--paragraph-color));
  transition: ease 200ms;
  cursor: pointer;
}

.ajouter-matière:hover {
  color: hsl(var(--paragraph-color));
  background-color: hsl(var(--theme-color));
  transition: ease 200ms;
}

.ajouter-matière i {
  margin-left: 5%;
}

.boutons-ajouter .ajouter-matière {
  height: 3.5em;
  text-align: left;
}

.mobile-text {
  display: none;
}


@media only screen and (max-width: 1000px) {

  /* .graphe_moyennes {
    display: none;
  } */

  .nom_note {
    font-size: 2em;
    max-width: 50%;
  }

  .note {
    font-size: 2em;
    margin-top: 0.6em;
  }

  .notes {
    padding: 4%;
    width: 100%;
  }

  .semester-div {
    flex-wrap: wrap;
    justify-content: center;
  }

  .semester-div a {
    margin-top: 0.35em;
    margin-bottom: 0.35em;
    flex: 1;
  }

  .boutons_spé {
    box-sizing: border-box;
  }

  .bt_spé {
    margin: 0.5em;
  }

  #bt_graphes {
    display: flex;
    justify-content: space-evenly;
    padding: 9%;
  }
  .div-graph {
    margin-left: 0;
    border-radius: 1em;
  }
}

@media only screen and (max-width: 600px) {

  .title-box {
    flex-direction: column;
  }

  .gepi-form {
    top: auto;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 3%;
    padding-bottom: 5%;
    width: 100%;
    box-sizing: border-box;
  }

  .nom_note {
    font-size: 1.5em;
  }

  .coef {
    font-size: 0.9em;
  }

  .note {
    font-size: 1.5em;
    margin-top: 0.6em;
  }

  .notes {
    border-radius: 1em;
    box-sizing: border-box;
  }

  .notes_et_graphes {
    width: 100%;
  }

  .notes-container {
    width: 100%;
  }

  .semester-gepi {
    border-radius: 1em;
    padding: 0;
    display: none;
  }

  .semester-div::-webkit-scrollbar {
    display: none;
  }

  .gepi h1 {
    display: none;
  }

  .gepi i {
    margin-left: 0;
  }

  .gepi {
    margin-right: 1em;
  }

  .semester-div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow-x: scroll;
    border-radius: 1em;
    justify-content: flex-start;
    font-size: 0.7em;
  }

  .semester-div a {
    margin-top: 0.35em;
    margin-bottom: 0.35em;
    flex: 1;
  }

  .moyenne h1 {
    font-size: 1.2em;
  }

  .note-mg h1 {
    margin-bottom: 0;
  }

  .cross {
    font-size: 1.5em;
  }

  .titre-notes {
    height: 2.5em;
  }

  .titre-notes h1 {
    font-size: 1.7em;
  }

  .box_note {
    width: 5em;
  }

  .ajouter-matière {
    font-size: 1em;
  }
  .boutons-ajouter .ajouter-matière {
    height: 4em;
    justify-content: flex-start;
  }

  .mobile-text {
    display: flex;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 0;
    font-size: 1em;
    justify-content: center;
  }

  .boutons_spé {
    width: 100%;
  }
  .bt_spé {
    justify-content: center;
    width: 100%;
    min-width: 3em;
    padding-inline: 2%;
  }
}
