.prez{
    display: flex;
    flex-direction: row;
    border-radius: 0.6em;
    background-color: var(--blanc-ou-noir);
    box-shadow: 0 8px 32px 0 hsl(var(--third-color));
    border: 0.1em solid hsl(var(--third-color));
    overflow: hidden;
}
p,td {
    text-align: justify;
    text-justify: inter-word;
    margin-right: 1em;
    margin-left: 1em;
}
a{
    color: inherit;
}
a:hover {
    color: hsl(var(--accent-color));
}
.prez img{
    max-width: 75em;
    max-height: 25em;
    border-top-right-radius:0.7em;
    border-bottom-right-radius: 0.7em;
}

.expo{
    padding-left: 2%;
}
.expo h1{
    display: flex;
    margin-left: 0.5em;
}

.lexique{
    margin-top: 4%;
}

.mots{
    margin-top: 0;

}
.def{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.def h1{
    font-size: 1.6em;
}
.def p{
    padding-left: 2%;
}

.sous-titre{
    display: flex;
    align-items: center;
}
.sous-titre h1{
    margin: 0;
}
.sous-titre h2{
    margin-left: 2%;
    font-size: 1.1em;
    color: hsl(var(--second-color));
}

.cours{
    display: flex;
    background: var(--blanc-ou-noir);
    box-shadow: 0 8px 32px 0 hsl(var(--third-color));
    border: 0.1em solid hsl(var(--third-color));
    backdrop-filter: blur(1em);
    border-radius: 2.5em;
    padding: 2% ;
    margin-bottom: 3%;
}

.cours h1{
    color: hsl(var(--accent-color));
    border-right: 0.15em solid;
    margin-right: 0.2em;
    padding-right: 2%;
    display: flex;
    align-items: center;
}

.cours p{
    display: flex;
    align-items: center;
}

.horizontal-container{
    display: flex;
    overflow: scroll;
    padding-bottom: 2em;
    border-radius: 1em;
    margin-right: -2%;
    margin-bottom: 2em;
}

.prof {
    display: flex;
    background-color: var(--blanc-ou-noir);
    border-radius: 1em;
    padding: 4%;
    margin-right: 4%;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.prof p{
    width: 18em;
    margin: 0;
}

td, th, table{
    color: hsl(var(--paragraph-color));
}

th{
    font-size: 1.2em;
    color: hsl(var(--accent-color));
}

table{
    background-color: var(--blanc-ou-noir);
    border-radius: 1em;
    padding: 1%;
    width: 100%;
    margin-bottom: 2em;
}

td{
    overflow-x: auto;
    color: hsl(var(--paragraph-color));
    border-bottom: 0.1em solid hsl(var(--third-color));
    padding: 2%;
}

.prof img{
    color: hsl(var(--accent-color));
    border-bottom: 0.2em solid;
    margin: 0.4em;
    width: 15em;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}
.prof h1{
    color: hsl(var(--accent-color));
    border-bottom: 0.1em solid;
    margin: 0;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}
.Classique, .Crous, .Internat, .Enseignement, .L_effectif, .Les-activités {
    display: flex;
    background-color: var(--blanc-ou-noir);
    border-radius: 1em;
    padding: 1%;
    flex-direction: row;
    align-content: center;
    align-items: center;
    margin-bottom: 1em;
    flex-wrap: wrap;
}
.titre_logements, .titre_raisons {
    color: hsl(var(--paragraph-color));
    font-size: 1.5em;
    margin-left: 0.5em;
}
.Logements p, .Raisons p{
    margin-right: 1em;
    margin-left: 1em;
}
.photos, .google_maps{
    display: flex;
    background: var(--blanc-ou-noir);
    box-shadow: 0 8px 32px 0 hsl(var(--third-color));
    border: 0.1em solid hsl(var(--third-color));
    backdrop-filter: blur(1em);
    border-radius: 2.5em;
    padding: 2% ;
    margin-bottom: 3%;
    flex-wrap: wrap;
    flex-direction: column;
}
.Structure-photos{
    margin: 0;
}
.photos{
    --gap: 1em;
    --num-colonnes: 2;
    --row-height: 30em;

    box-sizing: border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-colonnes), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}

.photos > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photos-col-2 {
    grid-column: span 2;
}
.photos-row-2 {
    grid-row: span 2;
}

#photo {
    width: 100%;
    border-radius: 1.5em;
}
.texte_gm{
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 0;
}
.texte_gm_2{
    font-size: 1em;
    margin-top: 0;
}
.map{
    border-radius: 1em;
    height: 20em;
    width: 100%;
}
@media only screen and (max-width: 600px) {
    .prez{
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .prez img {
        max-height: 100%;
        max-width: 100%;
        border-bottom-left-radius: 0.7em;
    }
    
    .sous-titre{
        flex-direction: column;
    }

    .cours h1{
        color: hsl(var(--accent-color));
        border-bottom: 0.15em solid;
        border-right: 0;
        margin-right: 0.2em;
        padding-right: 2%;
        display: flex;
        align-items: center;
        margin-top: 0;
    }

    .cours{
        display: flex;
        flex-direction: column;
        background: var(--blanc-ou-noir);
        box-shadow: 0 8px 32px 0 hsl(var(--third-color));
        border: 0.1em solid hsl(var(--third-color));
        backdrop-filter: blur(1em);
        border-radius: 1.5em;
        padding: 4% ;
        margin-bottom: 3%;
    }

    .cours p{
        margin: 0;
    }

    .photos {
        --gap: 0.75em;
        --num-cols: 2;
        --row-height: 10em;
        border-radius: 1em;
      }
    #photo {
        width: 100%;
        border-radius: 0.5em;
    }
    .google_maps{
        border-radius: 1em;
        padding: 5%;
    }
    .texte_gm_2 {
        font-size: 0.8em;
    }

}
@media only screen and (max-width: 1000px) {

    .prez{
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .prez img {
        max-height: 100%;
        max-width: 100%;
        border-bottom-left-radius: 0.7em;
    }
}
