.div-box{
    display: flex;
    background: var(--blanc-ou-noir);
    box-shadow: 0 8px 32px 0 var(--gris-clair);
    flex-direction: column;
    border: 0.1em solid var(--gris-clair);
    backdrop-filter: blur(1em);
    border-radius: 1em;
    padding: 5%;
    padding-top: 0;
    padding-bottom: 2%;
    margin-bottom: 3%;
}
.form-control{
    display: flex;
    padding-top: 0.2em;
    margin-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.5em;
    height: 2.3em;
    background-color: transparent;
    border: solid 0.14em var(--gris-clair);
    border-radius: 0.3em;
    font-family: 'Poppins';
    color: var(--gris-profond);
}
.form-control:focus-visible{
    outline: none;
    border-bottom: solid var(--couleur-accentuation);
}
#password.form-control{
    width: 18em;
}
.form-group{
    margin: 5%;
    margin-top: 0%;
    margin-left: 0;
}

.form-group label{
    color: var(--gris-profond)
}
.form-profile{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.inputs{
    width: 100%;
}
.inputs-inline{
    display: flex;
    align-items: flex-end;
    width: 100%;
}   
.control-label{
    display: flex;
    width: 101%;
}

.boutons-modes{
    display: flex;
    width: 100%;
    margin: 5%;
    margin-top: 0%;
    margin-left: 0;
}
.radio{
    margin-right: 3%;
    width: 10em;
    height: 3em;
}
.boutons-modes label{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
    height: 100%;
    width: 100%;
    color: var(--gris-profond);
    background-color: var(--bleu-cpp);
    cursor: pointer;
}
.boutons-modes input[type="radio"]{
    display: block;
}

.boutons-modes input[type="radio"]:checked + label{
    background-color: var(--couleur-accentuation);
}
