@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --couleur-accentuation: rgba(239, 111, 108, 1);
    --gris-profond: rgba(26, 29, 34, 1);
    --bleu-cpp: rgba(29, 53, 87, 1);
    --gris-clair: rgba(225, 225, 234, 1);
    --blanco: rgba(247, 245, 251, 1);
}

html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    background-color: var(--blanco);
}

.footer{
    display: flex;
    height: 3em;
    font-size: 0.5em;
    padding: 2em;
}

.header{
    display: flex;
    flex: 1;
    align-items: center;
    height: 4.5em;
    background-color: var(--gris-clair);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    font-weight: 600;
}
.header-left{
    display: flex;
    align-items: center;
    flex: 1;
    cursor: pointer;
    height: inherit;
}
.header-left h1{
    display: flex;
    padding-left: 0.4em;
    width: fit-content;
}
.logo{
    display: flex;
    height: 4em;
}
.header a{
    display: flex;
    align-items: center;
    height: inherit;
    width: fit-content;
    color: inherit;
    text-decoration: inherit;
    cursor: pointer;
}
.header-right{
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    flex: 1;
}
.header-right:hover{
    text-decoration: underline solid 0.15em;
    text-underline-offset: 0.2em;
    color: var(--bleu-cpp);
    transition: 100ms ease;
}
.header-left h2{
    display: flex;
    font-size: 1em;
}
.login-img{
    display: flex;
    height: 3em;
    padding-left: 0.4em;
}

.content{
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: 2em;
    padding-bottom: 0em;
}

.salut{
    display: flex;
    flex-direction: row;
}
.texte-accueil{
    margin-left: 2em;
}
.illustration-1{
    display: flex;
    height: fit-content;
    margin-left: 3em;
}
#hexagon{
    display: flex;
    width: 23em;
}
#samoussa{
    display: block;
    position: absolute;
    width: 15em;
}
.texte-accueil{
    display: flex;
    flex-direction: column;
}
.texte-accueil h1{
    display: flex;
    color: var(--couleur-accentuation);
    font-size: 3em;
    margin: 0.5em;
    margin-left: 0;
    margin-top: 1em;
    margin-bottom: 0;
}
.texte-accueil p{
    display: flex;
    margin: 0.3em;
    margin-left: 0;
    font-size: 1.2em;
}
.connection{
    display: flex;
    margin-top: 2em;
    margin-bottom: 2em;
}
.connection-text {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 1em;
    padding-left: 0;
}
.connection-text p{
    display: flex;
    font-size: 1.5em;
    margin: 0;
}
.connection-text a{
    display: flex;
    border: 0;
    font-size: 0.7em;
    justify-content: center;
    color: var(--blanco);
    border-radius: 0.6em;
    background-color: var(--bleu-cpp); 
    text-decoration: inherit;
    width: fit-content;
    width: -moz-fit-content;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 1em;
}
.connection-text h1{
    margin: 0.2em;
}
.connection-text a:hover {
    background-color: var(--couleur-accentuation);
    transition: 100ms ease;
}
.connection img{
    display: flex;
    width: 16em;
    padding-left: 5em;
    height: fit-content;
    min-height: 0;
    min-width: 0;
    align-self: flex-end;
}
.liste-fontions-texte{
    display: flex;
}
.liste-fontions-texte h1{
    display: flex;
    color: var(--couleur-accentuation);
    font-size: 3em;
}

.fiche-1{
    margin-bottom: 2em;
}

.fiche-texte-1{
    display: flex;
    margin-left: 10em;
    flex-direction: column;
    position: absolute;
}
.fiche-texte-1 h1{
    margin: 0;
    margin-top: -0.3em;
    line-height: 1.1em;
    font-size: 2.5em;
    color: var(--bleu-cpp);
}
.fiche-texte-1 p{
    margin: 0;
    margin-top: 0.2em;
    height: 5.5em;
    overflow-y: auto;
    font-size: 1.2em;
    width: 35em;
}

.fiche-2{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 3em;
    margin-bottom: 2em;
}

.fiche-texte-2{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    position: absolute;
    align-content: flex-end;
    align-items: flex-end;
    margin-right: 10em;
    text-align: end;
}
.fiche-texte-2 h1{
    margin: 0;
    width: fit-content;
    width: -moz-fit-content;
    margin-top: -0.3em;
    line-height: 1.1em;
    font-size: 2.5em;
    color: var(--bleu-cpp);
}
.fiche-texte-2 p{
    margin: 0;
    margin-top: 0.2em;
    height: 5.5em;
    overflow-y: auto;
    font-size: 1.2em;
    width: 35em;
}
