.salut{
    display: grid;
    grid-template-rows: 1fr 3fr;
    max-height: 23em;

}
#hexagon {
    display: flex;
    height: 23em;
    width: auto;
    grid-column: 1;
    grid-row: 1/3;
}
.salut h1{
    margin: 0;
    margin-left: 8%;
    margin-top: 5%;
    font-size: 3em;
    color: hsl(var(--accent-color));
    grid-column: 2;
    grid-row: 1;
}
.paragraph{
    margin-left: 8%;
    grid-column: 2;
    grid-row: 2;
}
.paragraph p{
    display: flex;
    margin-top: 0.3em;
    margin-right: 0.3em;
    margin-bottom: 0.3em;
    margin-left: 0;
    font-size: 1.2em;
}
.liste-fontions-texte h1 {
    margin-top: 0;
}
.connection{
    display: flex;
    margin-top: 2em;
    margin-bottom: 2em;
}
.connection-text {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 1em;
    padding-left: 0;
    flex: 2;
}
.connection-text p{
    display: flex;
    font-size: 1.5em;
    margin: 0;
}
.connection img{
    display: flex;
    width: 35%;
    align-self: flex-end;
    flex: 1;
}
.liste-fontions-texte{
    display: flex;
}
.liste-fontions-texte h1{
    display: flex;
    color: hsl(var(--accent-color));
    font-size: 3em;
}

#dessin{
    color: hsl(var(--second-accent-color));
}

.fiche-1{
    margin-bottom: 6%;
}
.fiche-2{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 6%;
}
.fiche-image{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    position: relative;
    z-index: 0;
}
.fiche-image #hexagon{
    height: 17em;
    width: auto;
    position: relative;
    min-width: 0;
}
.fiche-image #dessin{
    height: 5em;
    width: auto;
    padding: 2%;
    padding-top: 0;
    padding-bottom: 0;
}
.fiche-texte-1{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 8em;
    margin-right: 3%;
    z-index: 1;
}
.fiche-texte-2{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    position: absolute;
    align-content: flex-end;
    align-items: flex-end;
    text-align: end;
    margin-right: 7.5em;
    margin-left: 3%;
    z-index: 1;
}
.fiche-texte-1 h1{
    margin: 0;
    margin-top: -0.3em;
    line-height: 1.1em;
    font-size: 2.5em;
    color: hsl(var(--second-accent-color));
    height: 2.35em;
    overflow: auto;
    
}
.fiche-texte-1 p{
    margin: 0;
    margin-top: 0.2em;
    height: 5.5em;
    overflow-y: auto;
    font-size: 1.2em;
    width: 100%;
}
.fiche-texte-2 h1{
    margin: 0;
    width: fit-content;
    width: -moz-fit-content;
    margin-top: -0.3em;
    line-height: 1.1em;
    font-size: 2.5em;
    color: hsl(var(--second-accent-color));
    height: 2.35em;
    overflow: auto;
}
.fiche-texte-2 p{
    margin: 0;
    margin-top: 0.2em;
    height: 5.5em;
    overflow-y: auto;
    font-size: 1.2em;
    width: 100%;
}
.dropdown-menu{
    top: 4.3em;
}

@media only screen and (max-width: 600px) {
    .salut{
        grid-template-columns: 1fr 2fr;
    }
    #hexagon {
        height: 10em;
        grid-row: 1;
    }
    .salut h1{
        margin-top: 0.8em;
    }
    .paragraph{
        font-size: 0.8em;
        grid-column: 1/3;
        grid-row: 2;
        margin-top: 3%;
        margin-left: 0;
    }
    .connection{
        margin-top: 0;
    }
    .liste-fontions-texte h1{
        font-size: 2em;
    }

    .fiche-1, .fiche-2{
        display: block;
        background: var(--theme-color);
        box-shadow: 0 8px 32px 0 hsl(var(--third-color));
        border: 0.1em solid hsl(var(--third-color));
        backdrop-filter: blur(1em);
        border-radius: 2em;
        padding: 6%;
    }

    .fiche-image{
        display: none;
    }

    .fiche-texte-1, .fiche-texte-2 {
        position: relative;
        margin-left: 0;
        margin-right: 0;
    }

    .fiche-texte-2{
        text-align: start;
    }

    .fiche-texte-1 h1, .fiche-texte-2 h1 {
        margin: 0;
        width: 100%;
        line-height: 1.1em;
        font-size: 1.7em;
        height: 100%;
        overflow: hidden;
    }

    .fiche-texte-1 p, .fiche-texte-2 p{
        margin: 0;
        margin-top: 4%;
        overflow-y: auto;
        font-size: 1em;
        width: 100%;
        height: 100%;
    }
    br{
        display: none;
    }
    #dessin {
        display: none;
    }
  }