
#title{
    color: var(--accent-color);
}

.container{
    display: flex;
    background: var(--blanc-ou-noir);
    box-shadow: 0 8px 32px 0 var(--third-color);
    border: 0.1em solid var(--third-color);
    backdrop-filter: blur(1em);
    border-radius: 2.5em;
    padding: 2% ;
    margin-bottom: 3%;
}

.tool-img, .map{
    border-radius: 2em;
    height: 13em;
    width: 13em
}

.description{
    padding-left: 3%;
}

.element-title{
    display: flex;
    color: var(--accent-color);
    text-decoration: none;
    
}
.element-title h1{
    margin: 0;
    color: var(--accent-color);
}
.element-title h1:hover{
    text-decoration: underline solid 0.15rem;
    text-underline-offset: 0.2em;
    transition: 100ms ease;
}
.description p{
    margin: 0;
    font-weight: 400;
    margin-top: 1%;
    margin-bottom: 1%;    
    max-height: 4.5em;
    overflow-y: auto;
}
.url{
    text-decoration: none;
}
.url h2{
    font-size: 1.1em;
    font-weight: 400;
    margin-top: 3%;
    margin: 0;
    color: var(--accent-color);
    text-decoration: underline solid 0.15rem;
    text-underline-offset: 0.2em;
    transition: 100ms ease;
}
.url h2:hover{
    color: var(--second-accent-color);
}

.stars {
    display:flex;
    margin-top: 2%
}
.stars i{
    color: var(--second-accent-color);
}
@media only screen and (max-width: 600px) {
    #title{
        font-size: 1.3em
    }
    .header h2{
        font-size:1em;
    }
  }