{% extends 'base.html' %}

{% block head %}
<title>La page demandée n'existe pas 😥</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/styles_404.css') }}">
{% endblock %}

{% block content %}

<div class="content">

    <img src="{{ url_for('static', filename='img/' + darkmode_status + '/erreur_404.svg') }}" alt="">

    <h1>Il semblerait que vous soyez perdu...</h1>
    <a href="{{ url_for('index') }}" class="cpp-bouton"><div>
        <h1>Retourner à la page d'accueil</h1>
    </div></a>

</div>

{% endblock %}
