{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/connected_styles.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/tools_and_addresses_styles.css') }}">
<title>Le Petit CPP</title>
{% endblock %}

{% block content %}

<div class="content">

<h1 id="title">Quelques bonnes adresses (si vous avez le temps lol)</h1>

{% for address in addresses_list %}

<div class="container">

    <iframe class="map" src="{{ address.maps }}" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    <div class="description">
        <a class="element-title" href="{{ address.url }}"><h1>{{ address.name }}</h1></a>
        <p>
            {{ address.description }}
        </p>
        <div class="stars">
            {% for star in range(address.stars|int) %}
                <i class="material-icons-round">star_rate</i>
            {% endfor %}
            {% for star in range(5 - address.stars|int) %}
                <i class="material-icons-round">star_outline</i>
            {% endfor %}
        </div>
    </div>

</div>

{% endfor %}

</div>

{% endblock %}
