{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/connected_styles.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/tools_and_addresses_styles.css') }}">
<title>Le Petit CPP</title>
{% endblock %}

{% block content %}

<div class="content">

<h1 id="title">Quelques bonnes adresses (si vous avez le temps lol)</h1>


<h1 class="zone">Au nord</h1>

{% for address in Nord %}

<div class="container">

    <iframe class="map" src="{{ address.maps }}" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    <div class="description">
        <a class="element-title" href="{{ address.url }}"><h1>{{ address.name }}</h1></a>
        <p>
            {{ address.description }}
        </p>
        <div class="stars">
            {% for star in range(address.stars|int) %}
                <img src="{{ url_for('static', filename='img/' + theaming + '/stars/1.svg') }}" alt="star">
            {% endfor %}

            {% if address.stars|int != address.stars|float %}
                <img src="{{ url_for('static', filename='img/' + theaming + '/stars/' + (address.stars|float -  address.stars|int)|round(1)|string + '.svg') }}" alt="star">
            {% endif %}

            {% for star in range(4 - address.stars|int) %}
                <img src="{{ url_for('static', filename='img/' + theaming + '/stars/0.svg') }}" alt="star">
            {% endfor %}

        </div>
    </div>

</div>

{% endfor %}


<h1 class="zone">À l'ouest</h1>

{% for address in Ouest %}

<div class="container">

    <iframe class="map" src="{{ address.maps }}" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    <div class="description">
        <a class="element-title" href="{{ address.url }}"><h1>{{ address.name }}</h1></a>
        <p>
            {{ address.description }}
        </p>
        <div class="stars">
            {% for star in range(address.stars|int) %}
                <img src="{{ url_for('static', filename='img/' + theaming + '/stars/1.svg') }}" alt="star">
            {% endfor %}

            {% if address.stars|int != address.stars|float %}
                <img src="{{ url_for('static', filename='img/' + theaming + '/stars/' + (address.stars|float -  address.stars|int)|round(1)|string + '.svg') }}" alt="star">
            {% endif %}

            {% for star in range(4 - address.stars|int) %}
                <img src="{{ url_for('static', filename='img/' + theaming + '/stars/0.svg') }}" alt="star">
            {% endfor %}

        </div>
    </div>

</div>

{% endfor %}


<h1 class="zone">Au sud</h1>

{% for address in Sud %}

<div class="container">

    <iframe class="map" src="{{ address.maps }}" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    <div class="description">
        <a class="element-title" href="{{ address.url }}"><h1>{{ address.name }}</h1></a>
        <p>
            {{ address.description }}
        </p>
        <div class="stars">
            {% for star in range(address.stars|int) %}
                <img src="{{ url_for('static', filename='img/' + theaming + '/stars/1.svg') }}" alt="star">
            {% endfor %}

            {% if address.stars|int != address.stars|float %}
                <img src="{{ url_for('static', filename='img/' + theaming + '/stars/' + (address.stars|float -  address.stars|int)|round(1)|string + '.svg') }}" alt="star">
            {% endif %}

            {% for star in range(4 - address.stars|int) %}
                <img src="{{ url_for('static', filename='img/' + theaming + '/stars/0.svg') }}" alt="star">
            {% endfor %}

        </div>
    </div>

</div>

{% endfor %}


<h1 class="zone">À l'est</h1>
<h2 class="yar">Y a rien à l'est mdr</h2>

{% for address in Est %}

<div class="container">

    <!-- <iframe class="map" src="{{ address.maps }}" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    <div class="description">
        <a class="element-title" href="{{ address.url }}"><h1>{{ address.name }}</h1></a>
        <p>
            {{ address.description }}
        </p>
        <div class="stars">
            {% for star in range(address.stars|int) %}
                <i class="material-icons-round">star_rate</i>
            {% endfor %}
            {% for star in range(5 - address.stars|int) %}
                <i class="material-icons-round">star_outline</i>
            {% endfor %}
        </div>
    </div> -->

</div>

{% endfor %}


</div>

{% endblock %}
