{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/connected_styles.css') }}">
<title>Tableau de bord Admin</title>
{% endblock %}


{% block content %}

<div class="content">
    <h1>Bonjour {{ current_user.surname }}</h1>

    <h1>Voici la liste des utilisateurs</h1>

    {% for user in userlist %}

    <div class="user" id="{{user.username}}">
        <h2 id="name">Nom : {{user.name}}</h2>
        <h2 id="surname">Prénom : {{user.surname}}</h2>
        <h2 id="username">Nom d'utilisateur : {{user.username}}</h2>
        <h2 id="email">Adresse email : {{user.email}}</h2>
        <h2 id="classe">
            {% if user.admin == 1 %}
            Admin
            {% elif user.admin == 2 %}
            Délégué
            {% else %}
            Lambda
            {% endif %}
        </h2>
    </div>


    {% endfor %}
</div>

{% endblock %}
