{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/connected_styles.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/guiness_styles_and_anciens.css') }}">
<title>Derniers résultats d'affectation</title>
{% endblock %}

{% block content %}

<div class="content">

<h1 id="title" style="margin-bottom: 0;">Derniers résultats d'affectation de vos collègues</h1>
<h2 style="margin-top: 0; margin-bottom: 2em;">Vous pouvez les contacter en cliquant sur leur nom</h2>

{% for anciens in anciens_list %}

<div class="outer_box" id="anciens">
    <div class="ranking_title">
        <h1>Promo {{anciens.promo}}</h1>
    </div>

    {% for eleves in anciens.eleves %}

        <div class="inner_box">
            <div class="user">
                <a id="email" href="mailto:{{ eleves.email }}"><h1>{{ eleves.name }} {{ eleves.surname }}</h1></a>
                <h2>Moyenne : {{ eleves.moyenne }}</h2>
            </div>
            <div class="right-box">
                <h1>{{ eleves.ecole }}</h1>
            </div>
        </div>

    {% endfor %}

</div>


{% endfor %}

</div>

{% endblock %}
