<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="CPP CONNECT" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ baseURL }}static/img/og_image.png" />
    <meta property="og:description" content="CPP-connect est une application web offrant différents outils aux étudiants de la Prépa des INP de la réunion dont la possibilité de calculer sa moyenne, accéder à des ressources données par les an..." />
    

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    {% block head %}{% endblock %}
    <script defer src="https://unpkg.com/alpinejs@3.2.2/dist/cdn.min.js"></script>

    <!-- Matomo -->
    <script>
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="https://cpp-connect.matomo.cloud/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '1']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.async=true; g.src='//cdn.matomo.cloud/cpp-connect.matomo.cloud/matomo.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <!-- End Matomo Code -->

</head>
{% include 'theaming.html' %}
<body>
    

    <div class="header">
        <div class="header-left">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='img/' + theaming + '/cpp_connect.svg') }}" alt="logo" class="logo">
                <h1>CPP CONNECT</h1>
            </a>
        </div>
        <div class="header-right" x-data="{ showMenu: false, arrow: 'arrow_drop_down' }">
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">
                <h2>Se connecter</h2>
                <img src="{{ url_for('static', filename='img/' + theaming + '/user_connect.svg') }}" alt="logo" class="login-img" style="clip-path: inherit">
            </a>
            {% else %}
                
                <a href="{{ url_for('dashboard') }}" id="profile">
                    <h2>{{current_user.name}} {{current_user.surname}}</h2>
                </a>
                <div class="menu" @click="showMenu = true; arrow = 'arrow_drop_up'" @mouseenter="showMenu = true; arrow = 'arrow_drop_up'" >
                    {% if current_user.profil_pic_url == "Benjamin La cucarracha" %}
        
                    <img src="{{ url_for('static', filename='img/Avatar/profile_pict_1.svg') }}" alt="" class="login-img">
                
                
                    {% else %}
                    <img src="{{ current_user.profil_pic_url }}" alt="" class="login-img">
                    {% endif %}  
                    <i class="material-icons-round" x-text="arrow"></i>
                </div>
                <div class="dropdown-menu" x-show="showMenu" @click.away="showMenu = false; arrow= 'arrow_drop_down'" 
                     x-transition @mouseleave="showMenu = false; arrow= 'arrow_drop_down'" >
                    <a href="{{ url_for('dashboard') }}" class="item" >
                        <i class="material-icons-round">dashboard</i>
                        <p>Tableau de bord</p>
                    </a>
                    <a href="{{ url_for('settings') }}" class="item" >
                        <i class="material-icons-round">settings</i>
                        <p>Paramètres</p>
                    </a>
                    <a href="{{ url_for('logout') }}" class="item" style="margin-bottom: 0;" >
                        <i class="material-icons-round">logout</i>
                        <p>Se déconnecter</p>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
    
    {% block content %}{% endblock %}

    {% include 'footer.html' %}
</body>
</html>