<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% block head %}{% endblock %}
</head>
<body>

    <div class="header">
        <div class="header-left">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='img/' + theaming + '/cpp_connect.svg') }}" alt="logo" class="logo">
                <h1>CPP CONNECT</h1>
            </a>
        </div>
        <div class="header-right">
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">
                <h2>Se connecter</h2>
                <img src="{{ url_for('static', filename='img/' + theaming + '/user_connect.svg') }}" alt="logo" class="login-img">    
            </a>
            {% else %}
                <a href="{{ url_for('dashboard') }}" id="profile">
                    <h2>{{current_user.name}} {{current_user.surname}}</h2>
                </a>
                <div class="menu">
                    <img src="{{ url_for('static', filename='img/' + theaming + '/user_connect.svg') }}" alt="logo" class="login-img">    
                    <i class="material-icons">arrow_drop_down</i>
                </div>
                <div class="dropdown-menu">
                    <a href="{{ url_for('dashboard') }}" class="item" >
                        <i class="material-icons">dashboard</i>
                        <p>Tableau de bord</p>
                    </a>
                    <a href="{{ url_for('settings') }}" class="item" >
                        <i class="material-icons">settings</i>
                        <p>Paramètres</p>
                    </a>
                    <a href="{{ url_for('logout') }}" class="item" >
                        <i class="material-icons">logout</i>
                        <p>Se déconnecter</p>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
    
    {% block content %}{% endblock %}

    {% include 'footer.html' %}
    {% include 'theaming.html' %}
    
    <script src="{{ url_for('static', filename='script/script.js') }}"></script>
</body>
</html>