{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/connected_styles.css') }}">
<title>Tableau de bord</title>
{% endblock %}

{% block content %}

<div class="content">

    <div class="widget">

        <div class="pannel" id="profile-box">

            {% if current_user.profil_pic_url == "Benjamin La cucarracha" %}
        
            <img src="{{ url_for('static', filename='img/Avatar/profile_pict_1.svg') }}" alt="">
        
        
        {% else %}
            <img src="{{ current_user.profil_pic_url }}" alt="">
        {% endif %}

            <h1>{{current_user.name}}</h1>
            <h2>{{current_user.surname}}</h2>
            <div class="calendar">
                <!---h2>Calendrier</h2--->
            </div>
        </div>
        <div class="pannel" id="menu">
            <div class="tile" id="welcome">
                <h1>Bonjour {{ current_user.name }}</h1>
            </div>
            <a class="tile" id="home"  href="https://cppreunion.fr/gepi/login.php" target="_blank">
                <i class="material-icons-round">note_alt</i>
                <p>Consulter mes notes</p>
            </a>
            <a class="tile" id="home"  href="https://mail.etu.univ-lorraine.fr/" target="_blank">
                <i class="material-icons-round">email</i>
                <p>Consulter mes mails</p>
            </a>
            <a class="tile" id="tools"  href="{{ url_for('tools') }}">
                <i class="material-icons-round">architecture</i>
                <p>Outils</p>
            </a>
            <a class="tile" id="ressources" href="https://drive.google.com/drive/folders/1JzO5Pbek--fbNGhzBTdJvNYxJXvUp7rV?usp=sharing" target="_blank">
                <i class="material-icons-round">turned_in_not</i>
                <p>Ressources des années précedentes</p>
            </a>
            <a class="tile" id="settings"  href="{{ url_for('anciens') }}">
                <i class="material-icons-round">school</i>
                <p>Anciens</p>
            </a>
            <a class="tile" id="settings"  href="{{ url_for('settings') }}">
                <i class="material-icons-round">settings</i>
                <p>Paramètres</p>
            </a>
            <!--a class="tile" id="moyenne"  href="{{ url_for('notes') }}">
                <i class="material-icons-round">calculate</i>
                <p>Calcul de Moyenne</p>
            </a-->
            <a class="tile" id="addresses"  href="{{ url_for('addresses') }}">
                <i class="material-icons-round">restaurant_menu</i>
                <p>Le Petit CPP</p>
            </a>
            <a class="tile" id="guiness" href="{{ url_for('guiness') }}">
                <i class="material-icons-round">grade</i>
                <p>CPP's Business Records</p>
            </a>
        </div>

        {% if current_user.accountType == "admin" %}
        <!--Dashboard en plus pour les Admins-->

        <div class="pannel" id="admin">

            <h1>Liste des utilisateurs</h1>
    
            <table>
                <tr id="titre">
                    <td id="surname">Nom</td>
                    <td id="name">Prénom</td>
                    <td id="username">Nom d'utilisateur</td>
                    <td id="email">Adresses email</td>
                    <td id="password">Mot de Passe</td>
                    <td id="type">Rang</td>
                    <td id="promo">Promo</td>
                    <td id="mod"></td>
                    <td id="del"></td>
                </tr>
                {% for user in userlist %}
                <tr id="{{user.username}}">
                    <td id="surname"><input type="text" value="{{user.surname}}"></td>
                    <td id="name"><input type="text" value="{{user.name}}"></td>
                    <td id="username"><input type="email" value="{{user.username}}"></td>
                    <td id="email"><input type="email" value="{{user.email}}"></td>
                    <td id="password"><input type="password" placeholder="..."></td>
                    <td id="rang">
                        <select id="select-rang">
                            <option value="Admin" {% if user.accountType == "admin" %}selected{% endif %}>Admin</option>
                            <option value="Elève" {% if user.accountType == "élève" %}selected{% endif %}>Elève</option>
                      </select>
                    </td>
                    <td id="promo"><input type="text" value="{{user.promo}}"></td>
                    <td id="mod"><i id="{{user.username}}" class="material-icons-round" onclick="mod('{{user.username}}')">edit</i></td>
                    <td id="del"><i id="{{user.username}}" class="material-icons-round" onclick="del('{{user.username}}')">delete_outline</i></td>
                </tr>
                {% endfor %}
            </table>
    
        </div>

        <script>

            function mod(userName) {
                let user = document.getElementById(userName);

                //get inputs values

                oldUserName = userName.replace(".", "\\.")
                let newSurname = document.querySelector("#" + oldUserName + " #surname input").value;
                let newName = document.querySelector("#" + oldUserName + " #name input").value;
                let newUsername = document.querySelector("#" + oldUserName + " #username input").value;
                let newEmail = document.querySelector("#" + oldUserName + " #email input").value;
                let newPassword = document.querySelector("#" + oldUserName + " #password input").value;
                let newRang = document.querySelector("#" + oldUserName + " #rang select").value;
                let newPromo = document.querySelector("#" + oldUserName + " #promo input").value;

                if (newRang === "Admin") {
                    accountType = "admin"
                }else{
                    accountType = "élève"
                }

                let url = "{{ baseURL }}".replace("/dashboard", "/update_user");
                
                url += "?username=" + userName
                url += "&newSurname=" + newSurname;
                url += "&newName=" + newName;
                url += "&newUsername=" + newUsername;
                url += "&newEmail=" + newEmail;
                url += "&newPassword=" + newPassword;
                url += "&accountType=" + accountType;
                url += "&newPromo=" + newPromo;

                fetch(url)
                    .then( (resp) => {
                        let icon = document.querySelector("#" + oldUserName + " #mod i"); 
                        console.log("#" + oldUserName + " #del i", icon);
                        icon.textContent = "published_with_changes"
                        icon.style.color = "hsl(var(--second-accent-color))";
                        icon.style.backgroundColor = "hsl(var(--second-color))";
                        setTimeout(() => { 
                            icon.textContent = "edit"
                            icon.removeAttribute("style");
                        }, 1000);
                    })
                    .catch( (err) => {
                        console.log(err);
                    });

            };

            function del(userName) {

                let url = "{{ baseURL }}".replace("/dashboard", "/delete_user");
                url += "?username=" + userName;

                fetch(url)
                    .then( (resp) => {
                        let icon = document.querySelector("#" + userName.replace(".", "\\.") + " #del i"); 
                        console.log("#" + userName + " #del i", icon);
                        icon.textContent = "published_with_changes"
                        icon.style.color = "hsl(var(--second-accent-color))";
                        icon.style.backgroundColor = "hsl(var(--second-color))";
                        setTimeout(() => { 
                            document.location.reload();
                        }, 1000);
                    })
                    .catch( (err) => {
                        console.log(err);
                    });
            }

        </script>

        {% endif %}

    </div>


</div>

{% endblock %}
