{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/connected_styles.css') }}">
<title>Tableau de bord</title>
{% endblock %}

{% block content %}

<div class="content">

    <div class="widget">

        <div class="pannel" id="profile-box">
            <img src="{{ url_for('static', filename='img/profile_pict_1.svg') }}" alt="">
            <h1>{{current_user.name}}</h1>
            <h2>{{current_user.surname}}</h2>
        </div>
        <div class="pannel" id="menu">
            <div class="tile" id="welcome">
                <h1>Bonjour {{ current_user.name }}</h1>
            </div>
            <a class="tile" id="settings"  href="{{ url_for('settings') }}">
                <i class="material-icons">settings</i>
                <p>Paramètres</p>
            </a>
            <a class="tile" id="lorem"  href="{{ url_for('index') }}">
                <i class="material-icons">turned_in_not</i>
                <p>Lorem</p>
            </a>
            <a class="tile" id="ipsum" href="{{ url_for('index') }}">
                <i class="material-icons">turned_in_not</i>
                <p>Imsum</p>
            </a>
        </div>

        <!--Dashboard en plus pour les Admins-->

        <div class="pannel" id="admin">
            {% if current_user.admin == True %}

            <h1>Liste des utilisateurs</h1>
    
            <table>
                <tr id="titre">
                    <td id="surname">Nom</td>
                    <td id="name">Prénom</td>
                    <td id="username">Nom d'utilisateur</td>
                    <td id="email">Adresse email</td>
                    <td id="type">Type d'utilisateur</td>
                    <td id="mod"></td>
                </tr>
                {% for user in userlist %}
                <tr id="{{user.username}}">
                    <td id="surname">{{user.surname}}</td>
                    <td id="name">{{user.name}}</td>
                    <td id="username">{{user.username}}</td>
                    <td id="email">{{user.email}}</td>
                    <td id="rang"> {% if user.admin == True %}
                        Admin
                        {% elif user.admin == 2 %}
                        Délégué
                        {% else %}
                        Lambda
                        {% endif %}
                    </td>
                    <td id="mod"><a  href="{{ url_for('index') }}"><i class="material-icons">edit</i></a></td>
                </tr>
                {% endfor %}
            </table>
    
    
            {% endif %}
        </div>

    </div>


</div>

{% endblock %}
