<div class="footer">
    <h1>Contacter les fondateurs</h1>
    <div class="footer-text">
        <h2 id="copyright">&copy; Copyright {{year}} CPP CONNECT</h2>
        <h2 id="creator"> 
            <a href="mailto:mat.ros@outlook.fr">Mathias ROSA</a>&nbsp|&nbsp
            <a href="mailto:roure.matheo@gmail.com">Mathéo ROURE</a>&nbsp|&nbsp
            <a href="mailto:benjaminschlogel@gmail.com">Benjamin SCHLÖGEL</a>
        </h2>
        <!-- Messenger Plugin de discussion Code -->
    <div id="fb-root"></div>

    <!-- Your Plugin de discussion code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
      var chatbox = document.getElementById('fb-customer-chat');
      chatbox.setAttribute("page_id", "110802585072093");
      chatbox.setAttribute("attribution", "biz_inbox");
    </script>

    <!-- Your SDK code -->
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v14.0'
        });
      };

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/fr_FR/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    </div>

</div>

<style>
    .fb_dialog{
        position: inherit !important;
        background-color: transparent !important;
    }

    .fb_dialog_content iframe {
    position: inherit !important;
    
    }

    .fb_dialog_content{
        background-color: transparent;
        background-color: transparent !important;
    }
</style>