{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/connected_styles.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/guiness_styles.css') }}">
<title>CPP Buisness records</title>
{% endblock %}

{% block content %}

<div class="content">

    <h1 id="title">CPP Buisness Record. Les records du CPP</h1>

    <div class="inline-content">

        {% for record in record_list %}

        <div class="ranking">
            <div class="ranking_top">
                <div class="ranking_title">
                    <h1>{{ record.title }}</h1>
                </div>
                <a href="">
                    <i class="material-icons-round">add</i>
                </a>
            </div>

            

            {% for student in record.content %}

            <div class="user_ranking">
                <div class="number">
                    <h1>{{ student.rank }}</h1>
                </div>
                <div class="user">
                    <h1>{{ student.name }}</h1>
                    <h2>{{ student.promo }}</h2>
                </div>
                <div class="score">
                    <h1>{{ student.score }}</h1>
                </div>
            </div>

            {% endfor %}
        </div>

    {% endfor %}
        

    </div>

</div>

{% endblock %}
