{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/connected_styles.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/guiness_styles_and_anciens.css') }}">
<title>CPP Buisness records</title>
{% endblock %}

{% block content %}

<div class="content">

    <h1 id="title">CPP Buisness Record. Les records du CPP</h1>

    <div class="inline-content">

        {% for record in record_list %}

        <div class="outer_box" x-data="{ add: false, icon: 'add', title:'{{ record.title }}', rank: '', name: '', promo:'', score:'' }">
            <div class="ranking_top">
                <div class="ranking_title">
                    <h1 x-text="title">
                </div>
                <button @click="add = true; icon = 'done'">
                    <i class="material-icons-round" x-text="icon"></i>
                </button>
            </div>

            {% for student in record.content %}

                <div class="inner_box">
                    <div class="number">
                        <h1>{{ student.rank }}</h1>
                    </div>
                    <div class="user">
                        <h1>{{ student.name }}</h1>
                        <h2>{{ student.promo }}</h2>
                    </div>
                    <div class="right-box">
                        <h1>{{ student.score }}</h1>
                    </div>
                </div>

            {% endfor %}

            <div class="inner_box" id="new" x-show="add" 
                 x-transition:enter.duration.300ms
                 x-transition:leave.duration.200ms 
                 @click.away="add = false; icon = 'add'; newRecord(title, rank, name, promo, score); rank = name = promo = score = ''">
                <div class="number">
                    <input name="rank" placeholder="." required x-model="rank">
                </div>
                <div class="user">
                    <input id="name" name="name" placeholder="..." required x-model="name">
                    <input id="promo" name="promo" placeholder="..." required x-model="promo">
                </div>
                <div class="right-box">
                    <input name="score" placeholder="." required x-model="score">
                </div>
            </div>

        </div>

    {% endfor %}
        

    </div>

</div>


<script>

    function newRecord(title, rank, name, promo, score) {
        // permet d'ajouter un nouveau record dans la base de donnée

        if (rank && name && promo && score){
            console.log(rank, name, promo, score)

            url = "{{ baseURL }}" + "add-record?title=" + title + "&rank=" + rank + "&name=" + name + "&promo=" + promo + "&score=" + score;

            fetch(url)
                    .then( (resp) => {
                        console.log(resp)
                        document.location.reload()
                    })
                    .catch( (err) => {
                        console.log(err);
                    });
                    

        };

    }

</script>

{% endblock %}
