{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/styles_accueil.css') }}">
<title>CPP CONNECT</title>
{% endblock %}

{% block content %}

<div class="content">
    <div class="salut">
        <img src="{{ url_for('static', filename='img/' + theaming + '/hexagon_Sam.svg') }}" alt="hexagon" id="hexagon">         
        <h1>Salut !</h1>
        <div class="paragraph">
            <p>
                Si tu es ici, c’est que tu es étudiant 
                à la prépa des INP de la Réunion ou que tu souhaites le devenir.
            </p>
            <p>
                Ce site renferme une collection d’outils qui
                vont te simplifier la vie si tu es déjà l’un des nôtres
                ou te faire découvrir la prépa.
            </p>
        </div>
    </div>

    <div class="connection">
        <div class="connection-text">
            {% if current_user.is_anonymous %}
                <p>
                    Alors connecte-toi vite pour commencer…​
                </p>
                <a href="{{ url_for('login') }}" class="cpp-bouton"><div>
                    <h1>Se connecter</h1>
                </div></a>
            {% else %}

                <p>
                    Se diriger vers mon tableau de bord
                </p>
                <a href="{{ url_for('dashboard') }}" class="cpp-bouton"><div>
                    <h1>Tableau de bord</h1>
                </div></a>
            
            {% endif %}

            <p>
                Accéder à la page de présentation
            </p>
            <a href="{{ url_for('presentation') }}" class="cpp-bouton"><div>
                <h1>Présentation</h1>
            </div></a>

        </div>
        <img src="{{ url_for('static', filename='img/pate_sam_bonbonPiment/contents.svg') }}" alt="queuleuleu" id="dessin">
    </div>
    <div class="liste-fontions-texte">
        <h1>Liste des fonctionnalités​</h1>
    </div>
    <div class="fiche-1" id="1">
        <div class="fiche-texte-1">
            <h1>Ressources des <br>années précedentes</h1> 
            <p>
                Tu pourras accéder au fichier des devoirs surveillés
                des promotions précédentes pour ainsi te préparer efficacement
                pour les prochains devoirs surveillés à venir !
            </p>
        </div>
        <div class="fiche-image">
            <img src="{{ url_for('static', filename='img/' + theaming + '/hexagon_coupe_droit.svg') }}" alt="hexagon"  id="hexagon">
            <img src="{{ url_for('static', filename='img/pate_sam_bonbonPiment/forts.svg') }}" alt="" id="dessin">
        </div>
    </div>
    <div class="fiche-2" id="2">
        <div class="fiche-image">
            <img src="{{ url_for('static', filename='img/pate_sam_bonbonPiment/balançoire.svg') }}" alt="balançoire" id="dessin">
            <img src="{{ url_for('static', filename='img/' + theaming + '/hexagon_coupe_gauche.svg') }}" alt="hexagon"  id="hexagon">
        </div>
        <div class="fiche-texte-2">
            <h1>Des outils <br>pratiques</h1> 
            <p>
                Nous avons préparé une liste de site internet et d'outils qui nous ont bien 
                aidé et qui, on l'espère, t'aidera aussi durant ton séjour aux INP. 
            </p>
        </div>
    </div>
    <div class="fiche-1" id="3">
        <div class="fiche-texte-1">
            <h1>Calculs <br> de moyenne (prochainement)​</h1> 
            <p>
                Tes notes seront récupérées depuis le site GEPI, ainsi tu pourras 
                les consulter rapidement et tu pourras également accéder à ta moyenne 
                générale ainsi que les moyennes par matières.
            </p>
        </div>
        <div class="fiche-image">
            <img src="{{ url_for('static', filename='img/' + theaming + '/hexagon_coupe_droit.svg') }}" alt="hexagon" id="hexagon">
            <img src="{{ url_for('static', filename='img/pate_sam_bonbonPiment/forts.svg') }}" alt="" id="dessin">
        </div>
    </div>
    <div class="fiche-2" id="4">
        <div class="fiche-image">
            <img src="{{ url_for('static', filename='img/pate_sam_bonbonPiment/balançoire.svg') }}" alt="balançoire" id="dessin">
            <img src="{{ url_for('static', filename='img/' + theaming + '/hexagon_coupe_gauche.svg') }}" alt="hexagon" id="hexagon">
        </div>
        <div class="fiche-texte-2">
            <h1>Agenda <br> collectif​ (prochainement)</h1> 
            <p>
                Bin un agenda collectif... quoi... qu'est ce que tu veux qu'on te dise de plus !?
            </p>
        </div>
    </div>
    <div class="fiche-1" id="5">
        <div class="fiche-texte-1">
            <h1>Compte Gepi et <br> Univ-lorraine (prochainement)​</h1> 
            <p>
                Tu pourras enregistrer tes identifiants par rapport aux différentes
                plateformes étudiantes et accéder aux différents sites plus facilement.
            </p>
        </div>
        <div class="fiche-image">
            <img src="{{ url_for('static', filename='img/' + theaming + '/hexagon_coupe_droit.svg') }}" alt="hexagon" id="hexagon">
            <img src="{{ url_for('static', filename='img/pate_sam_bonbonPiment/forts.svg') }}" alt="" id="dessin">
        </div>
    </div>
    <div class="fiche-2" id="6">
        <div class="fiche-image">
            <img src="{{ url_for('static', filename='img/pate_sam_bonbonPiment/balançoire.svg') }}" alt="balançoire" id="dessin">
            <img src="{{ url_for('static', filename='img/' + theaming + '/hexagon_coupe_gauche.svg') }}" alt="hexagon"  id="hexagon">
        </div>
        <div class="fiche-texte-2">
            <h1>Des bonnes <br> adresses​</h1> 
            <p>
                Des restaurants et adresses sélectionnés par nos soins pour que tu puisses profiter 
                de ton temps libre (lol) et que si tu viens de métropole, te faire découvrir les endroits 
                sympas de la Réunion...
            </p>
        </div>
    </div>
</div>


{% endblock %}
