<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <title>CPP CONNECT</title>
</head>
<body>

    <div class="header">
        <div class="header-left">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='img/assets/cpp_connect.svg') }}" alt="logo" class="logo">
                <h1>CPP CONNECT</h1>
            </a>
        </div>
        <div class="header-right">
            <a href="{{ url_for('login') }}">
                <h2>Se connecter</h2>
                <img src="{{ url_for('static', filename='img/assets/user_connect.svg') }}" alt="logo" class="login-img">    
            </a>
        </div>
    </div>

    <div class="content">
        <div class="salut">
            <div class="illustration-1">
                <img src="{{ url_for('static', filename='img/hexagon.svg') }}" alt="hexagon" id="hexagon">
                <img src="{{ url_for('static', filename='img/pate_sam_bonbonPiment/Sam.svg') }}" alt="bonome samoussa" id="samoussa">
            </div>
            
            <div class="texte-accueil">
                <h1>Salut !</h1>
                <p>
                    Si tu est ici c’est que tu est étudiant 
                    à la prépa des INP de la Réunion ou que tu souhaite le devenir.
                </p>
                <p>
                    Ce site renferme une collection d’outils qui
                    vont te simplifier la vie si tu est déjà l’un des nôtres
                    ou te faire découvrir la prépa
                </p>
            </div>
        </div>

        <div class="connection">
            <div class="connection-text">
                <p>
                    Alors connecte-toi vite pour commencer…​
                </p>
                <a href="{{ url_for('login') }}" ><div class="bouton">
                    <h1>Se connecter</h1>
                </div></a>
            </div>
            <img src="{{ url_for('static', filename='img/pate_sam_bonbonPiment/contents.svg') }}" alt="queuleuleu" id="queuleuleu">
        </div>  
        <div class="liste-fontions-texte">
            <h1>Liste des fonctionnalités​</h1>
        </div>
        <div class="Calcule ta moyenne">
            <div class="fiche-texte">
                <h1>Calcule ta moyenne​</h1> 
                <p>
                    Tes notes seront récupérées depuis le site GEPI, ainsi tu pourras 
                    les consulter rapidement et tu pourras également accéder à ta moyenne 
                    générale ainsi que les moyennes par matières.
                </p>
            </div>
            <div class="fiche-image">
                <img src="{{ url_for('static', filename='img/hexagon_coupe.svg') }}" alt="">
                <img src="{{ url_for('static', filename='img/pate_sam_bonbonPiment/forts.svg') }}" alt="">
            </div>

        </div>
    </div>
</body>
</html>