<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login_styles.css') }}">
    <title>Se connecter</title>
</head>
<body>

    <div class="header">
        <div class="header-left">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='img/assets/cpp_connect.svg') }}" alt="logo" class="logo">
                <h1>CPP CONNECT</h1>
            </a>
        </div>
    </div>

    <div class="content">
        <div class="login-box">
            <h1>Se connecter</h1>
            <div class="inputs">
                <input type="email" name="user" id="user" placeholder="Nom d'utilisateur ou email">
                <input type="password" name="password" id=password" placeholder="Mot de passe">
            </div>
            <div class="connect">
                <button class="connect-button">Se connecter</button>
            </div>
        </div>
    </div>
    
</body>
</html>