<!DOCTYPE html>
{% import "bootstrap/wtf.html" as wtf %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login_styles.css') }}">
    <title>Se connecter</title>
</head>
<body>

    <div class="header">
        <div class="header-left">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='img/' + theaming + '/cpp_connect.svg') }}" alt="logo" class="logo">
                <h1>CPP CONNECT</h1>
            </a>
        </div>
        <div class="header-right"></div>
    </div>

    <div class="content">
        <form class="form-signin" method="POST" action="/login">
            <div class="login-box">
                <h1>Se connecter</h1>
                {{ form.hidden_tag() }}
                <div class="inputs">
                    {{ wtf.form_field(form.username, placeholder="Nom d'utilisateur ou email", class_="email", id="email") }}
                    {{ wtf.form_field(form.password, placeholder="Mot de passe", class_="password", id="password") }}
                </div>
                <div class="options">
                    <a href="{{ url_for('signup') }}" class="inscription" id="mdp_oublie" ><div class="bouton">
                        <h2>Mot de passe oublié ?</h2>
                    </div></a>
                    {{ wtf.form_field(form.remember) }}
                </div>
                <div class="connect">
                    <a href="{{ url_for('signup') }}" class="inscription" ><div class="bouton">
                        <h2>Ou s'inscrire</h2>
                    </div></a>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Se connecter</button>
                </div>
                {% if error is not none %}
                <div>
                    <p class="help-block">{{ error }}</p>
                </div>
            {% endif %}
            </div>
        </form>
    </div>
    {% include 'darkmode.html' %}
</body>
</html>