{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/connected_styles.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/notes_styles.css') }}">
<title>Notes</title>
{% endblock %}

{% block content %}

<div class="content" x-data="{visible: false}">

    <h1 id="title">Visualisation des notes (en cours de réalisation)</h1>

    <div class="semester-gepi">
        <div class="semester-div">
            <button x-on:click="semestre = 1" class="semester">
                Semestre 1
            </button>
            <button x-on:click="semestre = 2" class="semester">
                Semestre 2
            </button>
            <button x-on:click="semestre = 3" class="semester">
                Semestre 3
            </button>
        </div>
        <button class="gepi" @click="visible = true">
            <h1>Télécharger les notes de GEPI</h1>
            <i class="material-icons-round">
                file_download
            </i>
        </button>
    </div>

    <div class="notes_et_graphes">
        <div class="notes">
            <div class="titre-notes">  
                <h1>Semestre 1</h1>
            </div>
            <div class="moyenne" id="generale">
                
                <h1>Moyenne Générale</h1>
                <div class="note-mg">
                    <h1>N.I</h1>
                </div>
    
            </div>
    
            {%  for matiere in notes %}
    
            <div class="matiere">
    
                <div class="moyenne">
    
                    <h1>{{ matiere[0] }}</h1>
                    <div class="note-mg">
                        <h1>{{ matiere[1] }}</h1>
                    </div>
    
                </div>
    
                <div class="list-notes">
                    {% for note in matiere[2:] %} 
                    <div class="note_container">
                        <h1 class="nom_note">
                            {{ note.nom_note }}
                        </h1>
                        <h1 class="coef">
                            coef : {{ note.coef }}
                        </h1>
                        <div class="box_note">
                            <h1 class="note">
                                {{ note.note }}
                            </h1>
                        </div>
                    </div>
    
                    {% endfor %}
                </div>
    
            </div>
    
            {%  endfor %}
    
        </div>
    
        <div class="graphe_moyennes">
            <div class="div-graph" style="margin-top: 0;">
                <canvas id="graph"></canvas>
            </div>
    
        </div>
    </div>

    
    
    <div class="popup" x-show="visible === true">
        <form x-data="{ gepiLogin : '', gepiPassword : ''}" x-on:submit.prevent="getNotesFromGepi(gepiLogin, gepiPassword)" class="gepi-form" autocomplete="gepi">
            <h1>Connection à gepi</h1>
            <div id="gepi-username">
                <h2>Nom d'utilisateur GEPI</h2>
                <input type="text" x-model="gepiLogin" name="gepi-username" placeholder="Nom d'utilisateur GEPI" required>
                <p style="display: none;" x-text="gepiLogin">
            </div>
            <div id="gepi-password">
                <h2>Mot de passe GEPI</h2>
                <input type="password" x-model="gepiPassword" name="gepi-password" placeholder="Mot de passe GEPI" autocomplete="new-password" required>
                <p style="display: none;" x-text="gepiPassword">
            </div>
            <div class="buttons">
                <button id="download" @click="visible = false">Télécharger mes notes</button>
                <button id="cancel" type="button" @click="visible = false">Annuler</button>
            </div>
        </form>
    </div>
    
</div>


<script>
    // moyennes est un dictionnaire défini en python. On l'enregistre dans une variable js
    moyennes = JSON.parse("{{moyennes}}".replaceAll("&#39;", "\""));
    bricolage = JSON.parse("{{bricolage}}".replaceAll("&#39;", "\""));
    notes = bricolage.brico
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js" integrity="sha512-sW/w8s4RWTdFFSduOTGtk4isV1+190E/GghVffMA9XczdJ2MDzSzLEubKAs5h0wzgSJOQTRYyaz73L3d6RtJSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/1.4.0/chartjs-plugin-annotation.min.js" integrity="sha512-HrwQrg8S/xLPE6Qwe7XOghA/FOxX+tuVF4TxbvS73/zKJSs/b1gVl/P4MsdfTFWYFYg/ISVNYIINcg35Xvr6QQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{{ url_for('static', filename='script/graphique_notes.js') }}" type="module"></script>

<script>


function getNotesFromGepi(gepiLogin, gepiPassword){
    
        let url = "{{ baseURL }}" + "/get_notes";
        url = url + "?USER={{ current_user.username }}";
        url = url + "&GEPI_LOGIN=" + gepiLogin;
        url = url + "&GEPI_PASSWORD=" + gepiPassword;
    
        console.log(url)

        return fetch(url)
        .then((promise) => {
            promise.json().then( (resp) => {
                console.log(resp);
                location.reload()
            })
        })
        .catch( (err) => {
            console.log(err);
        });
}


</script>

{% endblock %}
