{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/connected_styles.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/notes_styles.css') }}">
<title>Notes</title>
{% endblock %}

{% block content %}

<div class="content" x-data="{visible: false}">

<h1 id="title">Fonctionnalité non implémentée, ça arrive bientôt !</h1>
<style>
    .content{
        height: 60vh;
    }
</style>

    <!---div class="semester-gepi">
        <div class="semester-div">
            <a href="{{ url_for('notes') }}" class="semester">
                <div><h1>Semestre 1</h1></div>
            </a>
            <a href="{{ url_for('notes') }}" class="semester">
                <div><h1>Semestre 2</h1></div>
            </a>
            <a href="{{ url_for('notes') }}" class="semester">
                <div><h1>Semestre 3</h1></div>
            </a>
        </div>
        <button class="gepi" @click="GEPI(), visible = true">
            <h1>Télécharger les notes de GEPI</h1>
            <i class="material-icons-round">
                file_download
            </i>
        </button>
    </div>

    <div class="notes">
        <div class="titre-notes">  
            <h1>Notes</h1>
        </div>
        <div class="moyenne-générale" id="matiere">
            <h1>Moyenne Générale</h1>
            <div class="note-mg">
                <h1>19.67</h1>
            </div>
        </div>
    </div>

    <div class="popup" x-show="visible === true">
        <form x-data="{ username : '', password : ''}" x-on:submit.prevent="GEPI()" class="gepi-form" autocomplete="gepi">
            <h1>Connection à gepi</h1>
            <div id="gepi-username">
                <h2>Nom d'utilisateur GEPI</h2>
                <input type="text" x-model="username" name="gepi-username" placeholder="Nom d'utilisateur GEPI" required>
                <p style="display: none;" x-text="username">
            </div>
            <div id="gepi-password">
                <h2>Mot de passe GEPI</h2>
                <input type="password" x-model="password" name="gepi-password" placeholder="Mot de passe GEPI" autocomplete="new-password" required>
                <p style="display: none;" x-text="password">
            </div>
            <div class="buttons">
                <button id="download" @click="GEPI(), visible = false">Télécharger mes notes</button>
                <button id="cancel" type="button" @click="visible = false">Annuler</button>
            </div>
        </form>
    </div>

</div--->

<script>

function getCookie(name) {

    // permet de récuperer le cookie ayant pour nom name : String passé en argument

    let cookie = {};
    document.cookie.split(';').forEach(function(el) {
        let [k,v] = el.split('=');
        cookie[k.trim()] = v;
    })
    return cookie[name];
    }

function createCookie(obj) {
    /**
    Fonction qui crée un cookie contenant le nom d'utilisateur gepi et son mot de passe
     * @param  {[object]} obj {
         UserID: "Gepi id"
         password: "Gepi password"
     }
     */
    document.cookie = `GEPI={UserID: ${obj.UserID}, password: ${obj.password}}`
}

function GEPI() {

    /*
        Fonction qui permet de récuperer les notes sur GEPI si les identifiants de l'utilisateur
        sont enregistrés dans le cookie "GEPI" et sinon d'enregistrer les identifiants de l'utilisateur
        dans un noouveau cookie "GEPI" puis de recupérer les notes sur GEPI
    */
    if (getCookie("GEPI")) {
        console.log(getCookie("GEPI"))


    } else {

        let gepiID = document.querySelector("#gepi-username p").textContent
        let gepiPassword = document.querySelector("#gepi-password p").textContent
        if (gepiID !== "" && gepiPassword !== " ") {
            createCookie({
                UserID: gepiID,
                password: gepiPassword
            })
        }
    }

}

function getNotesFromGepi(){
    
    if (getCookie("GEPI")){
        let GepiUser = parseCookie(getCookie("GEPI"))
        let url = "{{ baseURL }}" + "/get_notes";
        url = url + "?GEPI_LOGIN=" + GepiUser.UserID;
        url = url + "&GEPI_PASSWORD=" + GepiUser.password;
    
        console.log(url)

        fetch(url)
        .then((promise) => {
            promise.json().then( (resp) => {
                console.log(resp)
            })
        })
            .catch( (err) => {
                console.log(err);
            });
    }

}

function parseCookie(str) {
    let obj = {};
    str = str.replace("{", "").replace("}", "");
    let list = str.split(",");
    list.forEach((elem) => {
        keyAndValue =  elem.split(":")
        obj[keyAndValue[0].replace(" ", "")] = keyAndValue[1].replace(" ", "");
    })
    return obj
}

//getNotesFromGepi()

</script>

{% endblock %}
