{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/connected_styles.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/notes_styles.css') }}">
<title>Notes</title>
<script>

    async function getNotes() {
        let notes = fetch("{{ url_for('update_notes') }}")
        .then((response) => response.json())
        .then((responseJSON) => {return responseJSON});
        window.localStorage.setItem("notesSemestre", JSON.stringify(await notes));
        return await notes;
    }

</script>


{% endblock %}

{% block content %}

<div class="content" 
    x-data="{notesSemestre : {}, semestre: 1, indexCounter : 0, noteCounter : 0, icon : 'drive_file_rename_outline',  consultation: true}" 
    x-init="notesSemestre = await getNotes()">

    <h1 id="title">Visualisation des notes (en cours de réalisation)</h1>

    <div class="semester-gepi">
        <div class="semester-div">
            <button x-on:click="semestre = 1" class="semester" id="semester1">
                Semestre 1
            </button>
            <button x-on:click="semestre = 2" class="semester" id="semester2">
                Semestre 2
            </button>
            <button x-on:click="semestre = 3" class="semester" id="semester3">
                Semestre 3
            </button>
            <button x-on:click="semestre = 4" class="semester" id="semester4">
                Semestre 4
            </button>

        </div>

        <input type="hidden" x-model="semestre" id="SemesterVar"></input>

    </div>

    <div class="notes_et_graphes">
        
        <div class="notes">
            <div class="top">
                <div class="titre-notes">  
                    <h1 x-text="'Semestre ' + semestre"></h1>
                </div>
                <button @click="add = true; consultation === true ? consultation = false : consultation = true; consultation ? icon = 'drive_file_rename_outline' : icon = 'done' ;">
                    <i class="material-icons-round" x-text="icon"></i>
                </button>
            </div>
            
            <div class="moyenne" id="generale">
                
                <h1>Moyenne Générale</h1>
                <div class="note-mg">
                    <h1 x-text="notesSemestre['semestre'+ semestre]['moyenne']"></h1>
                </div>
    
            </div>

            <button class="ajouter-matière"
                        x-show="!consultation"
                        x-transition:enter.duration.300ms
                        x-transition:leave.duration.200ms>
                        Ajouter une matière 
                        <i class="material-icons-round">list_alt</i>
            </button>

            <template x-for="matiere in notesSemestre['semestre'+ semestre]['notes']">

                <div class="matiere">
    
                    <div class="moyenne">
                        
                        <h1 x-text="matiere.name"></h1>
                        <div class="matiere_coef">
                            <h1 class="m_coef" x-text="'coef : ' + matiere.coef"></h1>
                        </div>
                        <div class="note-mg">
                            <h1 x-text="matiere.moyenne"></h1>
                        </div>
                    </div>

                    <div class="list-notes">

                        <template x-for="note in matiere.notes">

                            <div class="note_container">
                                <h1 class="nom_note" x-text="note.name"></h1>
                                <h1 class="coef">coef : <strong x-text="note.coef"></strong> </h1>
                                <div class="box_note">
                                    <h1 class="note" x-text="note.note"></h1>
                                </div>
                                <div style="display: none;" class="path" x-text="'notesSemestre[\'semestre' + semestre + '\'][\'notes\'][\'' + indexCounter + '\'][\'notes\'][\'' + noteCounter + '\']'"></div>
                            </div>

        
                        </template>
                    </div>
        
                    <button class="ajouter-matière"
                        x-show="!consultation"
                        x-transition:enter.duration.300ms
                        x-transition:leave.duration.200ms>
                        Ajouter une note
                    </button>
        
                </div>
        

              </template>
    
        </div>
    
        <div class="graphe_moyennes">
    
        </div>
    </div>

    
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js" integrity="sha512-sW/w8s4RWTdFFSduOTGtk4isV1+190E/GghVffMA9XczdJ2MDzSzLEubKAs5h0wzgSJOQTRYyaz73L3d6RtJSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/1.4.0/chartjs-plugin-annotation.min.js" integrity="sha512-HrwQrg8S/xLPE6Qwe7XOghA/FOxX+tuVF4TxbvS73/zKJSs/b1gVl/P4MsdfTFWYFYg/ISVNYIINcg35Xvr6QQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{{ url_for('static', filename='script/graphique_notes.js') }}" type="module"></script>

{% endblock %}
