{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/presentation.css') }}">
<title>CPP CONNECT</title>
{% endblock %}

{% block content %}

<div class="content">
    
    <div class="prez">
        <img src="{{ url_for('static', filename='img/pate_sam_bonbonPiment/photo_promo11.png') }}" alt="photo de la Prez">
        <div class="expo">
            <h1>Salut toi !</h1>
            <p class="mot">
                Et bienvenue sur notre site internet ! 
                <br>Ici, c'est la page de présentation où tu pourras obtenir quelques informations sur ce qui t'attend si tu nous rejoins !
                <br>Nous, on est la promo 11 ! ( la meilleure, tu peux pas faire mieux dsl ) Notre prépa se situe à l'île de la Réunion, et elle fait partie du 
                <br>groupe INP ! Alors si tu cherches directement sur les sites du <a href="http://www.groupe-inp.fr/">Groupe INP</a> ou de <a href="https://www.la-prepa-des-inp.fr/">La Prépa des INP</a> et que tu ne trouves rien sur la Réunion, c'est normal ! Il Faut que tu te rendes sur le site de <a href="https://www.lorraine-inp.fr/prepa-des-inp/la-prepa-des-inp-la-reunion/">La Prépa des INP de Lorraine</a>, car le site de la Réunion y est rattaché !
                <br>Ps : fouilles bien ce site, il y a pas mal de choses intéressantes !
        </p>
        </div>
    </div>

    <div class="lexique">

        <div class="sous-titre">
            <h1>Lexique</h1>
            <h2>Un peu de vocabulaire pour mieux te retrouver</h2>
        </div>
        <table>
            <thead>
                <tr>
                    <th scope="col">Mot</th>
                    <th scope="col">Traduction</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">1A</th>
                    <td>Elève de première année, probablement toi ! ( ou dans le futur peut-être )</td>
                </tr>
                <tr>
                    <td scope="row">2A</th>
                    <td>Elève de deuxième année</td>
                </tr>
                <tr>
                    <td scope="row">Grand frère /<br>Grande sœur</th>
                    <td>
                        Ils correspondent aux parrains/marraines des classes prépa ordinaires.
                        Mais en CPP la fraternité est mise en avant. Il s’agira du 2A qui sera là pour vous guider, 
                        vous accompagner et rire avec vous durant votre première année de prépa.
                    </td>
                </tr>
                <tr>
                    <td scope="row">Petit frère /<br>Petite sœur</th>
                    <td>A contrario, les plus petits frères/petites sœurs, c’est vous ! Vous êtes ceux qu’on va couver</td>
                </tr>
                <tr>
                    <td scope="row">Khôlles</th>
                    <td>
                        Evaluation orale au tableau que tu auras en Maths et en Physique devant un prof par petit groupe de 3 à 5 personnes, vous aurez une heure pour montrer au professeur que vous maîtrisez le programme des deux dernières semaines. De petits exercices vous seront donnés et les professeurs seront derrière vous pour vous guider,
                        c’est le meilleur moyen de se rendre compte des éventuels problèmes de compréhension du cours !
                    </td>
                </tr>
                <tr>
                    <td scope="row">DS</th>
                    <td>
                        Petit nom pour dire Devoir Surveillé. Tu le connais peut-être déjà, mais quand tu l'entendra, il faudrat courir !
                    </td>
                </tr>
                <tr>
                    <td scope="row">Pâté / Samoussa / bonbon piment</th>
                    <td>
                        Ils font partie intégrante de la gastronomie locale,
                        vous pourrez les découvrir au marché le dimanche matin ou en cours de maths,
                        ils s’avèrent être de redoutables objets mathématiques.
                    </td>
                </tr>
                <tr>
                    <td scope="row">RU</th>
                    <td>
                        Le RU ou Restaurant Universitaire est un lieu paisible pour manger avec ses amis.
                        Il est, certe, un peu éloigné de la prépa, mais si le soir vous avez la flemme de cuisiner...
                        La formule complète est à 3.30€, et si tu es boursier elle descend à 1€ ! Une véritable affaire.
                    </td>
                </tr>
                <tr>
                    <td scope="row">Gepi</th>
                    <td>
                        Site internet permettant de consulter toutes les dernières notes publiès par les profs !
                        Un annonceur de bonnes nouvelles, et de mauvaises...
                    </td>
                </tr>
                <tr>
                    <td scope="row">Émarger</th>
                    <td>
                        Même si tu connais probablement la définition de ce dernier, on te demandera de le faire très souvent...
                        En effet, quasiment à chaque DS ! Eh oui, parce que chez nous, t'es une star ! ( on y croit fort en tout cas )
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="matières">

        <h1>Les cours à la prépa</h1>

        <div class="cours" id="maths">
            <h1>Mathématiques</h1>
            <p>
                La matière principale de la prépa, avec environ 10 h par semaine, un DS une semaine sur 2 et une colle quasiment chaque semaine, 
                au bout des deux ans, tu auras acquis quelques connaissances (on l'espère). Tu découvriras la beauté de l’algèbre, les fonctions 
                (de plusieurs variables parce que  ce n’est pas drôle sinon) n’auront plus de secrets pour toi et les probas seront pour toi un moyen simple, 
                mais efficace pour développer ton imagination.
            </p>
        </div>
        <div class="cours" id="physique">
            <h1>Physique</h1>
            <p>
                Expliquer les phénomènes qui t’entourent tu devras, de la force tu t’aideras. Mais ne te mets pas la pression, il faut juste suivre le courant des cours, 
                des TD et même si parfois, c’est un peu chaud tu verras tu y arrivera. 

            </p>
        </div>
        <div class="cours" id="chimie">
            <h1>Chimie</h1>
            <p>
                Que ce soit de la chimie théorique, de la chimie des solutions ou de la chimie organique, vous allez en apprendre davantage sur la structure des molécules, 
                leur agencement, leurs réactions etc...
            </p>
        </div>
        <div class="cours" id="svt">
            <h1>Biologie / Géosciences</h1>
            <p>
                La PACES du pauvre. Plus sérieusement, il s’agira de revoir certains chapitres de lycée plus en détails et explorer l’infiniment petit avec les cellules et les roches
            </p>
        </div>
        <div class="cours" id="info">
            <h1>Informatique</h1>
            <p>
                Même si vous n’allez pas programmer des gros jeux comme COD ou LOL, vous allez tout de même pouvoir vous amuser en programmant quelques mini jeux sympatoches pendant les DM d’info. 
            </p>
        </div>
        <div class="cours" id="anglais">
            <h1>Anglais</h1>
            <p>
                Entre les CO et les CE, vous êtes sûrs de devenir bilingues avant la fin de vos deux années de prépa !
            </p>
        </div>
        <div class="cours" id="espagnol">
            <h1>Espagnol</h1>
            <p>
                En espagnol, au cours de l’année, vous aurez l’occasion de devenir : monteur, comédien, chanteur, danseur, producteur, acteur et metteur en scène en chef 
                en devant réaliser des pièces de Théâtre sur l'indépendance de la Catalogne Schtroumpf, des articles de fake news, des clips musicaux, des pubs et des journaux télévisés, 
                ce qui vous permettra également de montrer au monde comment vous parlez bien l’Espagnolo.
            </p>
        </div>
        <div class="cours" id="allemand">
            <h1>Allemand</h1>
            <p>
                Matière en voie de disparition. Ne sois pas étonné d’être le seul élève en allemand, mais au moins tu auras le droit à des cours particuliers...
                Pour les débutants, tu ne te sentiras pas trop perdu (merci à l'anglais et le français).
            </p>
        </div>
        <div class="cours" id="chinois">
            <h1>Chinois</h1>
            <p>
                没有中文课，所以你可以愉快地在你的简历中增加德语 <br>
                (On vous fait confiance pour la traduction *clin d’œil* *clin d’œil*) <br>
                Google Trad 是你的朋友。

            </p>
        </div>
        <div class="cours" id="sport">
            <h1>Sport</h1>
            <p>
                Nécessaire pour garder un semblant d’humanité, il te permettra de te défouler un maximum et en plus tu avanceras dans la quête du summer-body que tu pourras fièrement exhiber le week-end à la plage.
            </p>
        </div>
        <div class="cours" id="communication ">
            <h1>Communication</h1>
            <p>
                Ce cours aura pour vocation de vous apprendre les choses intéressantes de la vie (rien à voir avec David Castello-Lopes) et de former une réelle réflexion sur le 
                fonctionnement du monde (oui on sait, ça ne vous dit pas grand-chose comme ça. Justement, c’est pour que vous réfléchissiez à quoi vous pouvez vous attendre *clin d’œil* *clin d’œil*)
                Tout de même il faut savoir que cette matière à la rigueur que le Français et la Philo auraientt si elles y étaient !
            </p>
        </div>
        <div class="cours" id="economie ">
            <h1>Économie </h1>
            <p>
                En concurrence avec les maths, au deuxième semestre, vous allez en voir aussi des nombres dans cette matière. Et surtout, vous allez vous rendre compte à quel point ils sont riches ces espèces... 
                d'humains de grandes marques et font du profit sur notre dos. Le CA, la TVA et bien d'autres... toutes ces notions seront carrés dans votre tête ! 
            </p>
        </div>

    </div>

    <div class="profs">

        <h1>Pour vous guider, vous retrouverez :</h1>

        <div class="horizontal-container">

            <div class="prof" id="renaud">
                <img src="{{ url_for('static', filename='img/pate_sam_bonbonPiment/MadameRenaud.svg') }}" alt="Renaud" id="Renaud">
                <p>
                    Fan de la gastronomie réunionnaise, elle te fera découvrir les maths en te parlant de pâtés,
                    de samoussas ou de bonbons piments pour te donner envie de dévorer le cours qu’il faut connaître comme le fond de ta poche d’ailleurs... 
                    Toujours à notre écoute, et les petites promos le permettent d’ailleurs, 
                    elle représente un vrai soutien moral durant les périodes un peu moins roses. 
                    Elle n’hésitera pas à te guider et à te donner des méthodes de travail. 
                  
                </p>
            </div>
            <div class="prof" id="hoareau">
                <img src="{{ url_for('static', filename='img/pate_sam_bonbonPiment/MonsieurHoareau.svg') }}" alt="hoareau" id="hoareau">
                <p>
                    Tel Lucky Luke, il corrige plus vite que son ombre. 
                    Très droit et carré, il saura te montrer de manière élégante l’art des mathématiques (ainsi que son histoire à travers de grands mathématiciens) autant dans la rédaction que dans l’analyse. 
                    Soucieux de ses élèves, il accorde beaucoup d’importance à notre compréhension du cours et des différents exercices. 
                </p>
            </div>
            <div class="prof" id="durbant">
                <img src="{{ url_for('static', filename='img/pate_sam_bonbonPiment/MonsieurDurbant.svg') }}" alt="durbant" id="durbant">
                <p>
                    Tu auras avec lui un petit frère (imaginaire évidemment) qui va te servir clairement de cobaye pour les expériences et phénomènes physiques.
                    Grâce à lui tu comprendras que la physique ce n’est pas de la magie. 
                    “Ce n’est pas de la physique ici, c’est des mathématiques”, dira-t-il souvent.                 
                </p>
            </div>
            <div class="prof" id="perot">
                <img src="{{ url_for('static', filename='img/pate_sam_bonbonPiment/MonsieurPerot.svg') }}" alt="durbant" id="durbant">
                <p>
                    Aime se séparer de ses bras et de ses jambes pour aider les élèves à visualiser les conformations d’une molécule.
                    Eminem en sueur devant lui.                                   
                </p>
            </div>
            <div class="prof" id="manicom">
                <img src="{{ url_for('static', filename='img/pate_sam_bonbonPiment/MonsieurManicom.svg') }}" alt="manicom" id="manicom">
                <p>
                    Si tu crois ne pas être bon en physique, et en électricité, rassure-toi ! Ce professeur ne cessera de te rappeler que l’électricité "c’est facile " !
                    Avec lui on ne perd pas de temps, et les cours sont denses. Il est fort conseillé de travailler la matière en dehors des cours (et occasionnellement de parler du cours lors d'un repas de famille…)
                    Il paraît que même en biologie, les cours d'élec peuvent servir (appareils de mesures...).                                  
                </p>
            </div>
            <div class="prof" id="pautler">
                <img src="{{ url_for('static', filename='img/pate_sam_bonbonPiment/MadamePautler.svg') }}" alt="manicom" id="manicom">
                <p>
                    Prof de Chimie et colleuse en physique, elle ouvrira le "bal" de la prépa en te faisant découvrir la chimie 
                    quantique et la chimie générale.

                </p>
            </div>
            <div class="prof" id="Trébois">
                <img src="{{ url_for('static', filename='img/pate_sam_bonbonPiment/MadameTrebois.svg') }}" alt="perot" id="perot">
                <p>
                    Passionnée par son métier et très à l’écoute, notre prof de bio ne cherchera pas simplement à te faire faire le programme, 
                    mais aussi et surtout à faire le lien entre les connaissances acquises en cours et le quotidien. 
                </p>
            </div>        
            <div class="prof" id="thiburce">
                <img src="{{ url_for('static', filename='img/pate_sam_bonbonPiment/MadameThiburce.svg') }}" alt="thiburce" id="thiburce">
                <p>
                    You (nul en english) : Quand tu get a 6/20 at a DST <br>
                    Mrs Thiburce : « You are AMAZING !!!! »  <br>
                    You: …
                </p>
            </div>
            <div class="prof" id="rouault">
                <img src="{{ url_for('static', filename='img/pate_sam_bonbonPiment/MonsieurRouault.svg') }}" alt="rouault" id="rouault">
                <p>
                    Fier représentant de la masculinité, porteur de valeurs nobles et qui a la vision du monde la plus éclairée et sage. 
                </p>
            </div>
            <div class="prof" id="bialecki">
                <img src="{{ url_for('static', filename='img/pate_sam_bonbonPiment/MonsieurBialecki.svg') }}" alt="bialecki" id="bialecki">
                <p>
                    Cet expert de la langue de Molière à la faculté de réinventer le monde à chaque phrase prononcée. 
                    Il te montrera que tu ne sais pas écrire la France (ni même la parler), mais les heures passées avec lui passeront très vite, et tu aimeras tellement les cours que tu en maudiras tes vacances.*clin d’œil* *clin d’œil*
                </p>
            </div>
            <div class="prof" id="guillaume">
                <img src="{{ url_for('static', filename='img/pate_sam_bonbonPiment/Guillaume.svg') }}" alt="guillaume" id="guillaume">
                <p>
                    Annonceur de bonnes comme de mauvaises nouvelles,
                    dit toujours que les DS sont faciles (alors que c’est faux)
                    Soutient un max avec de beaux EDT tout colorés et des GIF tout mimi à la fin de chaque mail.                
                </p>
            </div>

        </div>

    </div>

    <div class="reunion">

        <h1>La Réunion, une île magnifique</h1>
        <div class="photos">
            <img src="https://technopole-reunion.com/wp-content/uploads/2020/04/reunionvuehaut.jpg" alt="1" id="photo">
            <div class="Deux_photos">
                <img src="https://espaceperso.aircaraibes.com/sites/aircaraibes.com/files/styles/style_5/public/article_visual/fotolia_cascade_du_bassin_des_aigrettes_-_ile_de_la_reunion.jpg" alt="2" id="photo" class="photo2">
                <img src="https://img.ev.mu/images/attractions/2984/960x640/5660.jpg" alt="5" id="photo" class="photo5">
            </div>
            <div class="Grande_photo">
                <img src="https://images.france.fr/zeaejvyq9bhj/6WF1c1FX5pVxfoaOHZsKy9/3e49bcdfddaccd61cf6c649717adfa75/montagne_mafate79_sentier_cap_noir_-_CREDIT_IRT_-_frog_974_photographies_dts_06_2018.jpg?w=1120&h=490&q=70&fl=progressive&fit=fill" alt="4" id="photo">
            </div>
            <div class="Deux_photos">
                <img src="https://www.cartedelareunion.fr/wp-content/uploads/2016/07/Paddle-lagon-passe-de-lErmitage-cartedelareunion.fr-%C2%A9-Serge-Gelabert-1422x800.jpg" alt="6" id="photo">
                <img src="https://coconut-story.com/wp-content/uploads/2019/09/baignade-reunion-1.jpg" alt="7" id="photo">
            </div>
            <div class="Grande_photo">
                <img src="https://suitespot.fr/wp-content/uploads/2020/05/La-Reunion-France.jpg" alt="3" id="photo">
            </div>
        </div>
        <div class="google_maps">
            <h1 class="texte_gm">Nous, on est juste là !</h1>
            <h1 class="texte_gm_2"> Notre prépa se situe dans l'enceinte du Lycée Lislet Geoffroy, à Saint-Denis</h1>
            <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d954312.09632659!2d54.922104435046045!3d-20.880850365957663!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x21827fb8537eac13%3A0x738b4da871cc0c23!2sCPP%20-%20La%20Pr%C3%A9pa%20des%20INP%20-%20Site%20de%20Saint%20Denis%20de%20la%20R%C3%A9union!5e0!3m2!1sfr!2sfr!4v1653767290939!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

    </div>

    <div class="logement">

        <h1>Astuces de logement</h1>

        <div class="Logements">
            <div class="Classique">
                <h1 class="titre_logements">Appartement / Maison / Villa ?</h1>
                <p>
                    La prépa se situe au chef-lieu : Saint-Denis ! Donc si tu as les moyens et que tu cherches un appartement, on te conseille les agences à cet endroit.
                    Mais si tu es plus près de tes sous, à ce moment-là va jeter un œil sur Leboncoin ! Et si tu as des connaissances, le bouche-à-oreille ça marche toujours ! 
                    Sinon tu peux rentrer en contact avec des étudiants de la promo actuelle pour qu'ils te donnent des tuyaux ! ( tu peux nous retrouver sur notre page <a href="https://www.instagram.com/reunioninp/">Instagram</a> officielle !)
                </p>
            </div>
            <div class="Crous">
                <h1 class="titre_logements">Crous</h1>
                <p>
                    Le <a href="https://www.crous-reunion.fr/">Crous</a> n'est pas une solution à négliger ! Plusieurs types de logements sont disponibles et sont pour la plupart abordable en termes de prix, tu n'as qu'à te renseigner sur leur site ! 
                    En plus de ça tu seras juste à côté du RU ! Par contre, ce dernier n'est ouvert qu'en semaine.
                </p>
            </div>
            <div class="Internat">
                <h1 class="titre_logements">Internat</h1>
                <p>
                    Eh oui, il y a un internat ! En fait la prépa se situe dans l'enceinte du Lycée Lislet Geoffroy ( ainsi que d'autres prépas  ), et ce lycée bénéficient de l'internat de Leconte De Lisle ( un autre lycée, oui, en fait il y en a trois au même endroit, mais bref  ) et nous avons quelques places réservées pour nous ! 
                    Alors pour obtenir les infos dont tu as besoin, contact le secrétariat de <a href="http://lycee-llisle.ac-reunion.fr/">Leconte De Lisle</a>. La prépa s'y trouve à 5 min à pied, les repas sont fournis... Mais Attention : l'internat ferme ses portes les weekends et vacances, il faudra bouger à ce moment-là !
                </p>
            </div>
        </div>

    </div>

</div>

{% endblock %}