
{% import "bootstrap/wtf.html" as wtf %}
{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/connected_styles.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/profile-styles.css') }}">
<title>Tableau de bord Admin</title>
{% endblock %}

{% block content %}

<div class="content">

    <h1>{{ current_user.surname }} {{ current_user.name }}</h1>

    <div class="div-input">
        <form class="form-profile" method="POST" action="/profile">
            <h1>Modifier vos informations</h2>
            {{ form.hidden_tag() }}
            <div class="inputs">
                <div class="inputs-inline">
                    {{ wtf.form_field(form.name, placeholder="Nom", id="name") }}
                    {{ wtf.form_field(form.surname, placeholder="Prénom", id="surname") }}
                </div>
                {{ wtf.form_field(form.email, placeholder="Email", id="email") }}
                {{ wtf.form_field(form.current_password, placeholder="Mot de passe actuel", id="password") }}
                <div class="inputs-inline">
                    {{ wtf.form_field(form.new_password, placeholder="Nouveau mot de passe", id="password") }}
                    {{ wtf.form_field(form.new_password_confirm, placeholder="Confirmer votre mot de passe", id="password") }}
                </div>
                
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Valider</button>
        </form>
    </div>

    
</div>

{% endblock %}
