
{% import "bootstrap/wtf.html" as wtf %}
{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/connected_styles.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/settings-styles.css') }}">
<title>Paramètres</title>
{% endblock %}

{% block content %}

<div class="content">

    <h1>{{ current_user.surname }} {{ current_user.name }}</h1>

    <div class="div-box">
        <form class="form-profile" method="POST" action="/settings">
            <h1>Modifier vos informations</h2>
            {{ profileForm.hidden_tag() }}
            <div class="inputs">
                <div class="inputs-inline">
                    {{ wtf.form_field(profileForm.name, placeholder=current_user.name, id="name") }}
                    {{ wtf.form_field(profileForm.surname, placeholder=current_user.surname, id="surname") }}
                </div>
                {{ wtf.form_field(profileForm.username, placeholder=current_user.username, id="username") }}
                {{ wtf.form_field(profileForm.email, placeholder=current_user.email, id="email",) }}
                {{ wtf.form_field(profileForm.current_password, placeholder="Mot de passe actuel", id="password") }}
                <div class="inputs-inline">
                    {{ wtf.form_field(profileForm.new_password, placeholder="Nouveau mot de passe", id="password") }}
                    {{ wtf.form_field(profileForm.new_password_confirm, placeholder="Confirmer votre mot de passe", id="password") }}
                </div>
                
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Valider</button>
        </form>
    </div>

    <div class="div-box">
        <form class="form-profile" method="POST" action="/settings">
            <h1>Apparance</h2>
            {{ TheamingForm.hidden_tag() }}
            <div class="boutons-modes">
                {{ wtf.form_field(TheamingForm.theme, class="btn btn-primary", placeholder="", id="theaming-form") }}
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Valider</button>
        </form>
    </div> 

    {% if current_user.admin == 1 %}

        <h1>Je suis admin</h1>

    {% endif %}
</div>

{% endblock %}
