
{% import "bootstrap/wtf.html" as wtf %}
{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/connected_styles.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/settings-styles.css') }}">
<title>Paramètres</title>
{% endblock %}

{% block content %}

<div class="content">

    <h1>{{ current_user.surname }} {{ current_user.name }}</h1>

    <div class="div-box">
        <form class="form-profile" method="POST" action="/settings">
            <h1>Modifier vos informations</h1>
            {{ profileForm.hidden_tag() }}
            <div class="inputs">
                <div class="inputs-inline">
                    {{ wtf.form_field(profileForm.name, placeholder=current_user.name, id="name") }}
                    {{ wtf.form_field(profileForm.surname, placeholder=current_user.surname, id="surname") }}
                </div>
                {{ wtf.form_field(profileForm.email, placeholder=current_user.email, id="email",) }}
                {{ wtf.form_field(profileForm.current_password, placeholder="Mot de passe actuel", id="password") }}
                <div class="inputs-inline">
                    {{ wtf.form_field(profileForm.new_password, placeholder="Nouveau mot de passe", id="password") }}
                    {{ wtf.form_field(profileForm.new_password_confirm, placeholder="Confirmer votre mot de passe", id="password") }}
                </div>               
                
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Valider</button>
        </form>
    </div>

    <div class="div-box">
        <form class="change_profile_pic_form" method="POST" action="/settings">
            <h1>Changer ma photo de Profil</h1>
            <p>
                Nous n'avons pas de serveur pour stocker vos photos de profil. <br>
                Du coup, si vous souhaitez changer votre photo de profil pour un chat mignon,
                vous pouvez chercher le chat mignon sur internet puis copier son URL.
                <br>
                Votre photo de profil actuelle est : <br> <a href="{{ current_user.profil_pic_url }}">{{ current_user.profil_pic_url }}</a>

                {% if current_user.profil_pic_url != "Benjamin La cucarracha" %}
                <br><br>Pour revenir à la photo de profil par default, entrez "Benjamin La cucarracha" dans le champ ci-dessous.
                {% endif %}

            </p>
            <div class="profile_pic">
                {{ profilePicForm.hidden_tag() }}
                {{ wtf.form_field(profilePicForm.profile_pic, placeholder="Entrez une URL de photo", id="profil_pic_url") }}

                <div class="pannel" id="profile-box">

                    {% if current_user.profil_pic_url == "Benjamin La cucarracha" %}
        
                        <img src="{{ url_for('static', filename='img/Avatar/profile_pict_1.svg') }}" alt="">
                    
                    
                    {% else %}
                        <img src="{{ current_user.profil_pic_url }}" alt="">
                    {% endif %}
        
                </div>

            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Valider</button>
        </form>
    </div>

    <div class="div-box">
        <form class="theaming-form" action="{{ url_for('settings') }}" method="POST">
            <h1>Apparence</h2>
            <div class="boutons-modes" role="radiogroup">
                <div class="radio">
                    <label for="light-theme">
                        <img src="{{ url_for('static', filename='img/light-theme.svg') }}" alt="theme-preview">
                        <div class="span-et-input">
                            <input type="radio" name="theme" id="light-theme" value="light-theme" checked>
                            <span>Thème clair</span>
                        </div>
                    </label>
                </div>
                <div class="radio">
                    <label for="dark-theme">
                        <img src="{{ url_for('static', filename='img/dark-theme.svg') }}" alt="theme-preview">
                        <div class="span-et-input">
                            <input type="radio" name="theme" id="dark-theme" value="dark-theme">
                            <span>Thème sombre</span>
                        </div>
                    </label>
                </div>
                <div class="radio">
                    <label for="prepa-theme">
                        <img src="{{ url_for('static', filename='img/prepa-theme.svg') }}" alt="theme-preview">
                        <div class="span-et-input">
                            <input type="radio" name="theme" id="prepa-theme" value="prepa-theme">
                            <span>Thème Prépa</span>
                        </div>
                    </label>
                </div>
                <div class="radio">
                    <label for="pink-pastel">
                        <img src="{{ url_for('static', filename='img/pink-pastel.svg') }}" alt="theme-preview">
                        <div class="span-et-input">
                            <input type="radio" name="theme" id="pink-pastel" value="pink-pastel">
                            <span>Pastel rose</span>
                        </div>
                    </label>
                </div>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Valider</button>
        </form>
    </div> 

    <div class="div-box" id="contact">

        <h1>Données Personnelles</h1>

        <p>
            Pour toutes question relative à vos données personneles ou pour toute demande particulière,
            comme supprimer votre compte, vous pouvez nous contacter par mail :
        </p>

        <ul>
            <li><a href="mailto:mat.ros@outlook.fr">Mathias ROSA</a></li>
            <li><a href="mailto:roure.matheo@gmail.com">Mathéo ROURE</a></li>
            <li><a href="mailto:benjaminscholgel@gmail.com">Benjamin Schlögel</a></li>
        </ul>
    
        <p>
            Vous pouvez aussi nous contacter par messenger. <br><br>
            Si vous avez encore des doutes sur ce que fait le site et comment sont traitées vos données,
            Le code du site est disponible à l'adresse suivante : <a href="https://github.com/matro123/CPP-CONNECT">https://github.com/matro123/CPP-CONNECT</a>

        </p>
           
    </div>


</div>

{% endblock %}
