<!DOCTYPE html>
{% import "bootstrap/wtf.html" as wtf %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/signup_styles.css') }}">
    <title>S'inscrire</title>
</head>
<body>

    <div class="header">
        <div class="header-left">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='img/assets/cpp_connect.svg') }}" alt="logo" class="logo">
                <h1>CPP CONNECT</h1>
            </a>
        </div>
    </div>

    <div class="content">
        <div class="signup-box">
            <h1>S'inscrire</h1>
            <div class="inputs">
                <input type="nom" name="name" id="name" placeholder="Nom">
                <input type="prénom" name="surname" id="surname" placeholder="Prénom">
                <input type="email" name="user" id="user" placeholder="Email">
                <input type="password" name="password" id="password" placeholder="Mot de passe">
            </div>
            <a href="{{ url_for('login') }}" class="login" ><div class="bouton">
                <h2>J'ai déjà un compte, me connecter</h2>
            </div></a>
            <div class="connect">
                <button class="connect-button">S'inscrire</button>
            </div>
        </div>
    </div>
    <div class="container">

        <form class="form-signin" method="POST" action="/signup">
          <h2 class="form-signin-heading">Sign Up</h2>
          {{ form.hidden_tag() }}
          {{ wtf.form_field(form.username) }}
          {{ wtf.form_field(form.email) }}
          {{ wtf.form_field(form.password) }}
          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
        </form>
      
      </div> <!-- /container -->
</body>
</html>