<div class="theme" style="display: none;">
    {% if theaming == "dark-theme" %}
    <style>

:root{
--accent-color: hsl(1, 80%, 68%);
--second-accent-color: hsl(215, 60%, 33%);
--main-color: hsl(260, 43%, 13%);
--second-color: hsl(218, 13%, 92%);
--third-color: hsl(240, 18%, 20%);
--paragraph-color: hsl(218, 13%, 92%);
--blanc-ou-noir: black
}

#dessin {
    filter: saturate(1.2) brightness(1.3);
}
    
    </style>
    {% elif theaming == "pink-pastel" %}
    <style>

:root{
--accent-color: hsl(1, 80%, 68%);
--second-accent-color: hsl(210, 100%, 34%);
--main-color: hsl(8, 100%, 94%);
--second-color: hsl(240, 10%, 96%);
--third-color: hsl(3, 31%, 44%);
--paragraph-color: hsl(3, 31%, 44%);
--blanc-ou-noir: white
}

    </style>
    {% endif %}
</div>